<p-table #turboTable [(value)]="data.data" [columns]="data.columns" [totalRecords]="data.totalRecords" [autoLayout]="true" [selectionMode]="data.selectionMode"
    [rows]="data.rowsDisplayed"
[scrollable]="true" scrollHeight="600px" [lazy]="true"
    (onLazyLoad)="getPage($event)">
    <ng-template pTemplate="caption" *ngIf="data.isDownload && data.selectionMode=='multiple'">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="turboTable.exportCSV()" style="float:left"></button>
            <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="turboTable.exportCSV({selectionOnly:true})"
                style="float:right"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3.35em" *ngIf="data.selectionMode!='none'"></th>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" (click)="onSort=true"></p-sortIcon>
            </th>
        </tr>
        <tr>
          <th style="width: 3.35em" *ngIf="data.selectionMode!='none'"></th>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <div *ngIf="col.isSearch && data.selectionMode!='none'">
              <input *ngSwitchCase="col.field" pInputText type="text" [(ngModel)]="flatVariable[col.field]" appCapitalize (submit)="setFilterData($event.target.value, col.field);turboTable.filter($event.target.value, col.field, col.filterMatchMode)">
            </div>
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
        <tr>
            <td *ngIf="data.selectionMode==='single'" style="width: 3.35em">
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngIf="data.selectionMode==='multiple'" style="width: 3.35em">
               <input type="checkbox" name="" style="width: 1.35em" [checked]="rowData._SysRecordDataChanged=='Y'" (change)="onRowSelectChange($event,rowIndex)" />
                <!-- <p-tableCheckbox [value]="rowData" (onChange)="rowData._SysRecordDataChanged=='Y'" [ngClass]="{'ui-label-active' : rowData._SysRecordDataChanged=='Y'}"></p-tableCheckbox> -->
            </td>

            <td *ngFor="let col of columns;" pEditableColumn [ngStyle]="{'border': rowData['_SysMessages'] && rowData['_SysMessages'][col.field] ? '2px solid red' : '' }">
                <p-cellEditor>

                    <div *ngIf="!col.editable" style="color:black">
                        <ng-template pTemplate="input" style="color:black">
                            {{rowData[col.field]}}
                            
                        </ng-template>
                    </div>
                    <div *ngIf="col.editable">
                        <ng-template pTemplate="input" *ngIf="!col.isDropDown">
                         <app-function-key-panel *ngIf="col.openPopModel" [keys]="data.searchParams">
                            </app-function-key-panel>                             
                            <input style="width:100px" type="text" style="color:black" (focus)="openPopModel(rowIndex,col.field)" (input)="sysRecordChanged(rowIndex)" [(ngModel)]="rowData[col.field]">
                            <!-- <button style="width:100px" type="button" *ngIf="col.openPopModel" (click)="openPopModel(rowIndex,col.field)" class="prompt btn btn-sm">
                                <i class="fa fa-arrow-circle-down"></i>
                            </button> -->
                        </ng-template>
                        <ng-template pTemplate="input" *ngIf="col.isDropDown">                            
                            <!-- <select style="width:130px" id="rowData[col.field]-rowIndex" (focus)="openPopModel(rowIndex,col.field)" (change)="changeValue(selectDropDownItem[rowIndex],rowIndex,col.field)"
                                [ngModelOptions]="{standalone: true}" class="hideLabel form-control" [(ngModel)]="selectDropDownItem[rowIndex]">
                                <option [ngValue]="k" *ngFor="let k of data.dropDownItems">
                                    {{ k.description }}
                                </option>
                            </select> -->
                            <p-dropdown id="rowData[col.field]-rowIndex" [options]="data.dropDownItems" [(ngModel)]="selectDropDownItem[rowIndex]"
                                (onChange)="changeValue(selectDropDownItem[rowIndex],rowIndex,col.field)" appendTo="body" [style]="{'width':'100%'}"
                                optionLabel="description">
                            </p-dropdown>
                        </ng-template>
                    </div>
                    <ng-template pTemplate="output" style="color:black">
                        <div *ngIf="col.isDropDown">
                            <!-- <select style="width:130px" [ngModelOptions]="{standalone: true}" class="hideLabel form-control" [(ngModel)]="selectDropDownItem[rowIndex]">
                                <option [ngValue]="k" *ngFor="let k of data.dropDownItems">
                                    {{ k.description }}
                                </option>
                            </select> -->
                            <p-dropdown id="rowData[col.field]-rowIndex" [options]="data.dropDownItems" [(ngModel)]="selectDropDownItem[rowIndex]"
                                (onChange)="changeValue(selectDropDownItem[rowIndex],rowIndex,col.field)" appendTo="body" [style]="{'width':'100%'}"
                                optionLabel="description">
                            </p-dropdown>
                        </div>
                        <div *ngIf="!col.isDropDown">
                            {{rowData[col.field]}}
                            <!-- <button style="width:25px" type="button" *ngIf="col.openPopModel" (click)="openPopModel(rowIndex,col.field)" class="prompt btn btn-sm">
                                <i class="fa fa-arrow-circle-down"></i>
                            </button> -->
                        </div>
                    </ng-template>

                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align: center">
            <a class="ui-paginator-prev ui-paginator-element ui-state-default
                ui-corner-all" ng-reflect-klass="ui-paginator-prev
                ui-paginator" tabindex="0" (click)="navigationLink('28')">
                <span class="fa fa-backward"></span>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="ui-paginator-next ui-paginator-element ui-state-default
                ui-corner-all" ng-reflect-klass="ui-paginator-next
                ui-paginator" (click)="navigationLink('27')" tabindex="0">
                <span class="fa fa-forward"></span>
            </a>
        </div>
    </ng-template>
</p-table>