<p-table #turboTable [columns]="cols" [totalRecords]="flatVariable._SysTotalRecords" [lazy]="true" scrollHeight="600px" (onLazyLoad)="processGrid($event)" [rows]="flatVariable['_SysSubfilePageSize']" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    [value]="flatVariable._SysSubfile">
    <ng-template let-columns pTemplate="header">
        <tr>
            <th style="width: 3.35em"></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <div *ngIf="col.isSearch">
                    <!-- setFilterData($event.target.value, col.field); -->
                    <input [(ngModel)]="flatVariable[col.field]" type="text" (submit)="turboTable.filter($event.target.value,
                        col.field,
                        col.filterMatchMode)">
                </div>
            </th>
        </tr>
        <tr>
            <th style="width: 2.25em">
            </th>
            <th [pSortableColumn]="col.field" (click)="onSort=true" *ngFor="let
                col
                of columns">
                {{col.header}}
                <p-sortIcon [field]="col.field">
                </p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template let-rowData let-columns="columns" let-rowIndex="rowIndex" pTemplate="body">
        <tr>
            <td style="width: 2.35em" [pSelectableRow]="rowData">
                <p-tableRadioButton [value]="rowData">
                </p-tableRadioButton>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                No records found
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align: center">
            <a class="ui-paginator-prev ui-paginator-element ui-state-default
                ui-corner-all" ng-reflect-klass="ui-paginator-prev
                ui-paginator" tabindex="0" (click)="navigationLink('07')">
                <span class="fa fa-backward"></span>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a class="ui-paginator-next ui-paginator-element ui-state-default
                ui-corner-all" ng-reflect-klass="ui-paginator-next
                ui-paginator" (click)="navigationLink('08')" tabindex="0">
                <span class="fa fa-forward"></span>
            </a>
        </div>

        <app-function-key-panel [keys]="funcParams">
        </app-function-key-panel>
        <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary
            pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
        </app-enter-key>
    </ng-template>
</p-table>