<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Wrk Plant Equipment">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Work Plant Equipment</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<div *ngIf="!add" class="form-group">
										  <label for="awhRegionCode" class="col-md-3 control-label">
										    Region
										  </label>
										  <div class="col-md-5 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="1" size="6em" pInputText [(ngModel)]="plantEquipment.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region" (focus)="setFocusField('awhRegionCode')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    AWHRegion
										  </label>
										  <div class="col-md-30 col-md-offset-8">
										    {{ plantEquipment.awhRegionNameDrv }}
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="centreCodeKey" class="col-md-3 control-label">
										    CentreCodeKEY
										  </label>
										  <div class="col-md-4 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="2" size="25em" pInputText [(ngModel)]="plantEquipment.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre Code           KEY" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="awhBuisnessSegment" class="col-md-3 control-label">
										    AWHBuisnessSegment
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <select [(ngModel)]="plantEquipment.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" title="AWHBuisnessSegment" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of awhBuisnessSegment">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="equipmentTypeCode" class="col-md-3 control-label">
										    TypeCode
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="4" size="9em" pInputText [(ngModel)]="plantEquipment.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" placeholder="Type Code" (focus)="setFocusField('equipmentTypeCode')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="equipmentLeasor" class="col-md-3 control-label">
										    EquipmentLeasor
										  </label>
										  <div class="col-md-8 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="5" size="16em" pInputText [(ngModel)]="plantEquipment.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" placeholder="Equipment Leasor" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden"/>
										<div *ngIf="!add" class="form-group">
										  <label for="readingType" class="col-md-3 control-label">
										    ReadingType
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <select [(ngModel)]="plantEquipment.readingType" name="readingType" id="readingType" title="ReadingType" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of readingType">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="plantEquipmentCode" class="col-md-3 control-label">
										    EquipmentCode
										  </label>
										  <div class="col-md-14 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="10" size="14em" pInputText [(ngModel)]="plantEquipment.plantEquipmentCode" name="plantEquipmentCode" id="plantEquipmentCode" placeholder="Equipment Code" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="readingType" class="col-md-3 control-label">
										    ReadingType
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <select [(ngModel)]="plantEquipment.readingType" name="readingType" id="readingType" title="ReadingType" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of readingType">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<!-- GRID NAVIGATION KEYS -->
										<div>
										  <button (click)="process('4')" type="button" class="btn btn-default">
										    4=Delete
										  </button>
										  <button (click)="process('Change')" type="button" class="btn btn-default">
										    2=Edit
										  </button>
										  <button (click)="process('5#1')" type="button" class="btn btn-default">
										    5=Display
										  </button>
										  <button (click)="process('A')" type="button" class="btn btn-default">
										    A=Add Reading
										  </button>
										  <button (click)="process('R')" type="button" class="btn btn-default">
										    R=Readings
										  </button>
										  <button (click)="process('B')" type="button" class="btn btn-default">
										    B=Re-Update Totals
										  </button>
										  <button (click)="process('X')" type="button" class="btn btn-default">
										    X=Retire
										  </button>
										  <button (click)="process('N')" type="button" class="btn btn-default">
										    N=ReName Equipment
										  </button>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
