<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Edt Equipment Readings">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Edt Equipment Readings Details</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<input [(ngModel)]="equipmentReadings.equipmentReadingSgt" name="equipmentReadingSgt" id="equipmentReadingSgt" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Region
											  </label>
											  <div class="col-md-1 col-md-offset-8">
											    {{ equipmentReadings.awhRegionCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ equipmentReadings.awhRegionNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-2 col-md-offset-8">
											    {{ equipmentReadings.centreCodeKey }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ equipmentReadings.centreNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="awhBuisnessSegment" class="col-md-3 control-label">
											    BuisSegm
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="equipmentReadings.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" title="BuisSegm" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of awhBuisnessSegment">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Code
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ equipmentReadings.plantEquipmentCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Description
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ equipmentReadings.equipmentDescriptionDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Type
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    {{ equipmentReadings.equipmentTypeCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentTypeDescDrv
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ equipmentReadings.equipmentTypeDescDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Leasor
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ equipmentReadings.equipmentLeasor }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Organization
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ equipmentReadings.organisationNameDrv }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.readingTimestamp" name="readingTimestamp" id="readingTimestamp" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingType
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ equipmentReadings.readingType }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingValue" class="col-md-3 control-label">
											    Value
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="7" size="width:5em" pInputText [(ngModel)]="equipmentReadings.readingValue" name="readingValue" id="readingValue" placeholder="Value" (focus)="setFocusField('')" type="number" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingRequiredDate" class="col-md-3 control-label">
											    ReadingDate
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentReadings.readingRequiredDate" [showIcon]="true" name="readingRequiredDate" (focus)="setFocusField('readingRequiredDate')">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.differenceFromPrevious" name="differenceFromPrevious" id="differenceFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.idleDaysFromPrevious" name="idleDaysFromPrevious" id="idleDaysFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.unavailableDaysFromPrv" name="unavailableDaysFromPrv" id="unavailableDaysFromPrv" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="readingComment" class="col-md-3 control-label">
											    Comment
											  </label>
											  <div class="col-md-120 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="120" size="7em" pInputText [(ngModel)]="equipmentReadings.readingComment" name="readingComment" id="readingComment" placeholder="Comment" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.userId" name="userId" id="userId" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.transferToFromSgt" name="transferToFromSgt" id="transferToFromSgt" type="hidden"/>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
