/* Color classes - option of last resort */
/* The class names use the following pattern: */
/*   .color__fg--MainXX - Foreground Main color # XX */
/*   .color__bg--MainXX - Background Main color # XX */
.color__fg--Main00 {
    color: #1ba085; }

  .color__bg--Main00 {
    background-color: #1ba085; }

  .color__fg--Main01 {
    color: #ea874e; }

  .color__bg--Main01 {
    background-color: #ea874e; }

  .color__fg--Main02 {
    color: #f2c975; }

  .color__bg--Main02 {
    background-color: #f2c975; }

  .color__fg--Main03 {
    color: #f5f3f0; }

  .color__bg--Main03 {
    background-color: #f5f3f0; }

  .color__fg--Sec00 {
    color: #787878; }

  .color__bg--Sec00 {
    background-color: #787878; }

  .color__fg--Sec01 {
    color: #373736; }

  .color__bg--Sec01 {
    background-color: #373736; }

  .color__fg--Sec02 {
    color: #25ba9e; }

  .color__bg--Sec02 {
    background-color: #25ba9e; }

  .color__fg--Sec03 {
    color: #fcd9c8; }

  .color__bg--Sec03 {
    background-color: #fcd9c8; }

  .color__fg--Sec04 {
    color: #cccccc; }

  .color__bg--Sec04 {
    background-color: #cccccc; }

  .color__fg--Sec05 {
    color: #e5e1dc; }

  .color__bg--Sec05 {
    background-color: #e5e1dc; }

  .color__fg--Sec06 {
    color: #2c685d; }

  .color__bg--Sec06 {
    background-color: #2c685d; }

  .color__fg--Sec07 {
    color: #b7b7b7; }

  .color__bg--Sec07 {
    background-color: #b7b7b7; }

  .color__fg--Gra00 {
    color: #373736; }

  .color__bg--Gra00 {
    background-color: #373736; }

  .color__fg--Gra01 {
    color: #787878; }

  .color__bg--Gra01 {
    background-color: #787878; }

  .color__fg--Gra02 {
    color: #bca98f; }

  .color__bg--Gra02 {
    background-color: #bca98f; }

  /* Font classes to be used as last resort (prefer applying font properties to
     BEM classes */
  .font__PragatiNarrow, .font__PragatiNarrow--bold {
    font-family: "Pragati Narrow", sans-serif; }

  .font__PragatiNarrow--bold {
    font-weight: 700; }

  .font__Institut {
    font-family: "Institut", sans-serif; }

  .font__OpenSans, .font__OpenSans--bold, .font__OpenSans--semiBold {
    font-family: "Open Sans", sans-serif; }

  .font__OpenSans--bold {
    font-weight: 700; }

  .font__OpenSans--semiBold {
    font-weight: 600; }

  .font__OpenSansCondensed, .font__OpenSansCondensed--light {
    font-family: "Open Sans Condensed", sans-serif; }

  .font__OpenSansCondensed--light {
    font-weight: 300; }

  html {
    height: 100%;
    box-sizing: border-box; }

  body {
    position: relative;
    margin: 0;
    height: 100%;
    background-color: #fbfaf9; }

  /* Layout components - container classes */
  /* use on top-level rows for correct positioning */
  .l-row {
    padding: 0 46.5px; }

  .l-horzList, .l-horzList--inline {
    display: block;
    padding: 0; }
    .l-horzList--inline {
      height: 100%;
      display: block;
      float: left;
      vertical-align: middle;
      padding: 0 12px;
      margin: 0; }
    .l-horzList__Item {
      display: block;
      float: left;
      height: 100%;
      vertical-align: middle; }

  .l-box {
    display: block; }
    .l-box--inline {
      display: block;
      float: left; }

  .l-page {
    min-height: 100%;
    position: relative;
    /* width: 1263px; */
    margin: 0 auto;
    background: white; }

  .btn-group, .btn-group-vertical {
	  width: 100%;
 	  float: left; }

  .l-flexbox, .l-flexbox__Row {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .l-flexbox__Row {
      flex-flow: row nowrap; }

  .l-modalParent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }

  /* Main container component */
  .c-Main {
    padding-bottom: 64px;
    background-color: white; }

  /* Necessary alteration to bootstrap classes */
  .container {
    width: 100% !important; }

  /* Make custom col class to match main column grid in sub-row of size 5 */
  .col-xs-5-1, .col-xs-5-2, .col-xs-5-3, .col-xs-5-4, .col-xs-5-5 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }

  .col-xs-5-1 {
    width: 20%; }

  .col-xs-5-2 {
    width: 40%; }

  .col-xs-5-3 {
    width: 60%; }

  .col-xs-5-4 {
    width: 80%; }

  .col-xs-5-5 {
    width: 100%; }

  /* Page header component */
  .c-header {
    height: 60px;
    background-color: #1ba085; }
    .c-header__Col {
      height: 100%; }
    .c-header__CirclesBg {
      background-image: linear-gradient(to right, rgba(27, 160, 133, 0.31) 8%, #1ba085 32%), url(../img/imgHeaderBg-01.svg);
      background-size: auto, 8px 9px;
      background-position: 0px 0px, 1px -2px; }
    .c-header__Branding {
      color: white;
      display: inline-block;
      margin: 16px 0;
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 1px; }
    .c-header__QuickLink, .c-header__QuickLink--disabled {
      display: block;
      float: left;
      height: 19px;
      color: white;
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 700;
      font-size: 15px;
      text-decoration: none;
      line-height: 18px;
      letter-spacing: 0.3px;
      margin: 20.5px 30px 20.5px 0;
      border-bottom: 1px solid white; }
      .c-header__QuickLink:focus, .c-header__QuickLink--disabled:focus, .c-header__QuickLink:hover, .c-header__QuickLink--disabled:hover, .c-header__QuickLink:active, .c-header__QuickLink--disabled:active {
        text-decoration: none; }
      .c-header__QuickLink:focus, .c-header__QuickLink--disabled:focus {
        color: white;
        border-bottom-color: white;
        outline-color: #213b3a; }
      .c-header__QuickLink:hover, .c-header__QuickLink--disabled:hover {
        color: white;
        border-bottom-color: #2c685d; }
      .c-header__QuickLink:active, .c-header__QuickLink--disabled:active {
        color: #2c685d;
        border-bottom-color: #2c685d; }
      .c-header__QuickLink--disabled {
        color: #2c685d;
        border-bottom: none; }
        .c-header__QuickLink--disabled:focus, .c-header__QuickLink--disabled:hover, .c-header__QuickLink--disabled:active {
          color: #2c685d;
          border-bottom: none; }
    .c-header__Info {
      display: block;
      vertical-align: middle;
      height: 43px;
      border: 1px solid #25ba9e;
      border-top: none;
      border-bottom: none;
      margin: 8.5px 33px 8.5px 0;
      padding: 0 0 0 10px; }
    .c-header__Label, .c-header__Label--banner {
      color: white;
      display: inline;
      margin-left: 14px;
      font-family: "Institut", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 43px;
      text-transform: uppercase; }
      .c-header__Label::after, .c-header__Label--banner::after {
        content: ': '; }
      .c-header__Label--banner {
        margin: 0;
        margin-left: 6px;
        line-height: 36px; }
        .c-header__Label--banner::after {
          content: ''; }
    .c-header__Value {
      color: white;
      display: inline;
      margin-right: 25px;
      font-family: "Institut", sans-serif;
      font-size: 13px;
      line-height: 43px; }
    .c-header__Divider {
      display: block;
      float: left;
      vertical-align: middle;
      height: 43px;
      width: 1px;
      background-color: #25ba9e;
      margin-right: 8px; }
    .c-header__Action, .c-header__Action--disabled {
      color: #1ba085;
      background-color: #e5e1dc;
      display: block;
      float: left;
      margin: 13px 0;
      width: 109px;
      height: 34px;
      border: none;
      border-radius: 2px;
      padding: 0;
      font-family: "Pragati Narrow", sans-serif;
      font-size: 14px;
      font-weight: 700; }
      .c-header__Action:focus, .c-header__Action--disabled:focus {
        background-color: #e5e1dc;
        outline-color: #213b3a; }
      .c-header__Action:hover, .c-header__Action--disabled:hover {
        color: #2c685d; }
      .c-header__Action:active, .c-header__Action--disabled:active {
        color: white;
        background-color: #2c685d;
        outline: none; }
      .c-header__Action--disabled {
        border: 1px solid #25ba9e;
        color: #25ba9e;
        background-color: #1ba085; }
        .c-header__Action--disabled:focus, .c-header__Action--disabled:hover, .c-header__Action--disabled:active {
          border: 1px solid #25ba9e;
          color: #25ba9e;
          background-color: #1ba085; }

  /* Page Banner component */
  .c-banner, .c-banner__MainMenu {
    position: relative;
    height: 183px;
    padding-top: 24px;
    background-image: linear-gradient(90deg, rgba(55, 55, 54, 0.79) 0%, rgba(120, 120, 120, 0.79) 86.25%, rgba(188, 169, 143, 0.79) 100%), url(../img/imgBannerBillOfLading.png);
    background-origin: padding-box;
    background-size: 1263px 183px;
    background-position: 0 0;
    /* manual retina-ize because of gradient overlay */
    /* @2x-ish media query */ }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      .c-banner, .c-banner__MainMenu {
        background-image: linear-gradient(90deg, rgba(55, 55, 54, 0.79) 0%, rgba(120, 120, 120, 0.79) 86.25%, rgba(188, 169, 143, 0.79) 100%), url(../img/imgBannerBillOfLading@2x.png);
        background-size: 1263px 183px; } }
    .c-banner__MainMenu {
      background-image: linear-gradient(90deg, rgba(55, 55, 54, 0.79) 0%, rgba(120, 120, 120, 0.79) 86.25%, rgba(188, 169, 143, 0.79) 100%), url(../img/imgBannerHome.png); }
      @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
        .c-banner__MainMenu {
          background-image: linear-gradient(90deg, rgba(55, 55, 54, 0.79) 0%, rgba(120, 120, 120, 0.79) 86.25%, rgba(188, 169, 143, 0.79) 100%), url(../img/imgBannerHome@2x.png);
          background-size: 1263px 183px; } }
    .c-banner__CirclesBg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 990px;
      background-image: url(../img/imgTextureCircles.svg); }

  /* Breadcrumb navigation aid component */
  .c-breadcrumb {
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 4px; }
    .c-breadcrumb__Item {
      display: inline;
      color: white; }
      .c-breadcrumb__Item::before {
        content: ' // '; }
      .c-breadcrumb__Item:first-child::before {
        content: ''; }
    .c-breadcrumb__Text {
      display: inline;
      color: white;
      letter-spacing: 0.3px; }

  /* Trailguide navigation aid component */
  .c-trailGuide, .c-trailGuide__Back, .c-trailGuide__Back--dark, .c-trailGuide__Back--popup {
    color: white; }
    .c-trailGuide__Back, .c-trailGuide__Back--dark, .c-trailGuide__Back--popup {
      position: relative;
      font-family: "Institut", sans-serif;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 1px; }
      .c-trailGuide__Back::before, .c-trailGuide__Back--dark::before, .c-trailGuide__Back--popup::before {
        /* placeholder for graphic */
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        top: 50%;
        left: -22px;
        transform: translateY(-50%);
        background-image: url(../img/iconTripleArrowLeft.svg);
        background-repeat: no-repeat; }
      .c-trailGuide__Back:focus, .c-trailGuide__Back--dark:focus, .c-trailGuide__Back--popup:focus, .c-trailGuide__Back:hover, .c-trailGuide__Back--dark:hover, .c-trailGuide__Back--popup:hover, .c-trailGuide__Back:active, .c-trailGuide__Back--dark:active, .c-trailGuide__Back--popup:active {
        text-decoration: none; }
      .c-trailGuide__Back:focus, .c-trailGuide__Back--dark:focus, .c-trailGuide__Back--popup:focus {
        color: white;
        outline-color: #213b3a; }
        .c-trailGuide__Back:focus::before, .c-trailGuide__Back--dark:focus::before, .c-trailGuide__Back--popup:focus::before {
          background-image: url(../img/iconTripleArrowLeft.svg); }
      .c-trailGuide__Back:hover, .c-trailGuide__Back--dark:hover, .c-trailGuide__Back--popup:hover {
        color: white; }
        .c-trailGuide__Back:hover::before, .c-trailGuide__Back--dark:hover::before, .c-trailGuide__Back--popup:hover::before {
          background-image: url(../img/iconTripleArrowLeftHoverDark.svg); }
      .c-trailGuide__Back:active, .c-trailGuide__Back--dark:active, .c-trailGuide__Back--popup:active {
        color: #f2c975; }
        .c-trailGuide__Back:active::before, .c-trailGuide__Back--dark:active::before, .c-trailGuide__Back--popup:active::before {
          background-image: url(../img/iconTripleArrowLeft.svg); }
      .c-trailGuide__Back--dark, .c-trailGuide__Back--popup {
        color: #2c685d; }
        .c-trailGuide__Back--dark:focus, .c-trailGuide__Back--popup:focus {
          color: #2c685d; }
        .c-trailGuide__Back--dark:hover, .c-trailGuide__Back--popup:hover {
          color: #2c685d; }
          .c-trailGuide__Back--dark:hover::before, .c-trailGuide__Back--popup:hover::before {
            background-image: url(../img/iconTripleArrowLeftHover.svg); }
        .c-trailGuide__Back--dark:active, .c-trailGuide__Back--popup:active {
          color: #f2c975; }
          .c-trailGuide__Back--dark:active::before, .c-trailGuide__Back--popup:active::before {
            background-image: url(../img/iconTripleArrowLeft.svg); }
      .c-trailGuide__Back--popup {
        margin-left: 44px; }

  /* Page Title component */
  .c-pageTitle, .c-pageTitle--jumbo {
    color: white;
    margin: 0;
    margin-top: 28px;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 74.4px;
    letter-spacing: 1px; }
    .c-pageTitle--jumbo {
      margin-top: 23px;
      font-size: 77px;
      line-height: 92.4px; }

  /* Section-scope elements and decorators */
  .c-section__Title, .c-section__Title--mainMenu {
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 16px 0 7px 0;
    line-height: 64px;
    color: #787878; }
    .c-section__Title--mainMenu {
      position: relative;
      box-sizing: border-box;
      margin: 0;
      padding-left: 33px;
      line-height: 77px; }
      .c-section__Title--mainMenu:before {
        content: '';
        position: absolute;
        top: 25px;
        left: 0;
        width: 21px;
        height: 23px;
        background-color: hotpink; }

  .c-section__Icon {
    /* for c-section__Title--mainMenu */ }
    .c-section__Icon--ops:before {
      background-image: url(../img/iconOperations.svg);
      background-color: transparent; }
    .c-section__Icon--admin:before {
      background-image: url(../img/iconAdministration.svg);
      background-color: transparent; }
    .c-section__Icon--sysMaint:before {
      width: 24px;
      background-image: url(../img/iconMaintenance.svg);
      background-color: transparent; }

  .c-section__Label {
    display: table;
    color: #1ba085;
    font-family: "Institut", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 1px solid #1ba085;
    border-bottom: 1px solid #1ba085;
    margin-top: 38px;
    margin-bottom: 28px; }

  /* Icon List component */
  .c-iconList {
    list-style: none;
    padding: 0; }
    .c-iconList__Item, .c-iconList__Item--mainMenu {
      display: table;
      position: relative;
      color: #787878;
      height: 39px;
      margin-bottom: 32px;
      font-family: "Institut", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px; }
      .c-iconList__Item:focus, .c-iconList__Item--mainMenu:focus {
        color: #787878;
        outline-color: #213b3a; }
      .c-iconList__Item:hover, .c-iconList__Item--mainMenu:hover {
        color: #ea874e; }
      .c-iconList__Item:active, .c-iconList__Item--mainMenu:active {
        color: #373736; }
      .c-iconList__Item--mainMenu {
        height: auto;
        width: 100%;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e1dc;
        line-height: 19px; }
        .c-iconList__Item--mainMenu:first-of-type {
          border-top: 1px solid #e5e1dc; }
    .c-iconList__Text, .c-iconList__Text--disabled {
      display: table-cell;
      vertical-align: middle;
      color: inherit; }
      .c-iconList__Text:focus, .c-iconList__Text--disabled:focus, .c-iconList__Text:hover, .c-iconList__Text--disabled:hover, .c-iconList__Text:active, .c-iconList__Text--disabled:active {
        color: inherit;
        text-decoration: none; }
      .c-iconList__Text:focus, .c-iconList__Text--disabled:focus {
        outline-color: #213b3a; }
      .c-iconList__Text--disabled {
        color: #cccccc; }
        .c-iconList__Text--disabled:focus, .c-iconList__Text--disabled:hover, .c-iconList__Text--disabled:active {
          color: #cccccc; }
    .c-iconList__Icon, .c-iconList__Icon--bill, .c-iconList__Icon--shipping, .c-iconList__Icon--document {
      position: relative;
      padding: 0 0 0 52px;
      /* Icon background circle */
      /* Icon image */ }
      .c-iconList__Icon::before, .c-iconList__Icon--bill::before, .c-iconList__Icon--shipping::before, .c-iconList__Icon--document::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background-color: #f2c975; }
      .c-iconList__Icon::after, .c-iconList__Icon--bill::after, .c-iconList__Icon--shipping::after, .c-iconList__Icon--document::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 5.5px;
        width: 28px;
        height: 26px;
        background-color: purple;
        background-repeat: no-repeat;
        transform: translateY(-50%); }
      .c-iconList__Icon:focus::before, .c-iconList__Icon--bill:focus::before, .c-iconList__Icon--shipping:focus::before, .c-iconList__Icon--document:focus::before {
        background-color: #f2c975; }
      .c-iconList__Icon:hover::before, .c-iconList__Icon--bill:hover::before, .c-iconList__Icon--shipping:hover::before, .c-iconList__Icon--document:hover::before {
        background-color: #ea874e; }
      .c-iconList__Icon:active::before, .c-iconList__Icon--bill:active::before, .c-iconList__Icon--shipping:active::before, .c-iconList__Icon--document:active::before {
        background-color: #ea874e; }
      .c-iconList__Icon--bill::after {
        background-color: transparent;
        background-image: url(../img/iconBillOfLading.svg);
        width: 17px;
        height: 26px;
        left: 11px; }
      .c-iconList__Icon--shipping::after {
        background-color: transparent;
        background-image: url(../img/iconTruck.svg);
        width: 28px;
        height: 17px;
        left: 5.5px; }
      .c-iconList__Icon--document::after {
        background-color: transparent;
        background-image: url(../img/iconPaper.svg);
        width: 18px;
        height: 21px;
        left: 10.5px; }

  /* Topic menu/index component */
  .c-topic__Title {
    padding: 0;
    margin: 10px 0 0;
    color: #ea874e;
    font-family: "Institut", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px; }

  .c-topic__Contents {
    margin: 16px 0 35px 0;
    padding: 0 0 0 0;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; }

  .c-topic__Entry, .c-topic__Entry--disabled {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
    color: #787878; }
    .c-topic__Entry::before, .c-topic__Entry--disabled::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 11px;
      height: 11px;
      background-image: url(../img/iconTopicEntryBullet.svg);
      background-repeat: no-repeat; }
    .c-topic__Entry:focus, .c-topic__Entry--disabled:focus {
      color: #787878;
      outline-color: #213b3a; }
      .c-topic__Entry:focus::before, .c-topic__Entry--disabled:focus::before {
        background-image: url(../img/iconTopicEntryBullet.svg); }
    .c-topic__Entry:hover, .c-topic__Entry--disabled:hover {
      color: #ea874e; }
      .c-topic__Entry:hover::before, .c-topic__Entry--disabled:hover::before {
        background-image: url(../img/iconTopicEntryBulletHover.svg); }
    .c-topic__Entry:active, .c-topic__Entry--disabled:active {
      color: #373736; }
      .c-topic__Entry:active::before, .c-topic__Entry--disabled:active::before {
        background-image: url(../img/iconTopicEntryBulletActive.svg); }
    .c-topic__Entry--disabled {
      color: #cccccc; }
      .c-topic__Entry--disabled::before {
        background-image: url(../img/iconTopicEntryBulletDisabled.svg);
        background-repeat: no-repeat; }
      .c-topic__Entry--disabled:focus, .c-topic__Entry--disabled:hover, .c-topic__Entry--disabled:active {
        color: #cccccc; }
        .c-topic__Entry--disabled:focus::before, .c-topic__Entry--disabled:hover::before, .c-topic__Entry--disabled:active::before {
          background-image: url(../img/iconTopicEntryBulletDisabled.svg); }

  .c-topic__Text {
    color: inherit; }
    .c-topic__Text:focus, .c-topic__Text:hover, .c-topic__Text:active {
      color: inherit;
      text-decoration: none; }
    .c-topic__Text:focus {
      outline-color: #213b3a; }

  /* Footer component */
  .c-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 34px;
    background-color: #1ba085; }
    .c-footer__CirclesBg {
      background-image: linear-gradient(to right, #1ba085 68%, rgba(27, 160, 133, 0.31) 92%), url(../img/imgHeaderBg-01.svg);
      background-size: auto, 8px 9px; }

  /* Button Bar component */
  .c-buttonBar, .c-buttonBar--noBg {
    height: 54px;
    background-color: #f5f3f0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; }
    .c-buttonBar--noBg {
      background: transparent; }
    .c-buttonBar__CirclesBg, .c-buttonBar__CirclesBg--popup {
      background-image: linear-gradient(to right, #f5f3f0 86.87%, rgba(245, 243, 240, 0.8)), url(../img/imgHeaderBg-02.svg);
      background-size: auto, 8.4px 9.5px; }
      .c-buttonBar__CirclesBg--popup {
        background-image: linear-gradient(to right, #f5f3f0 66.09%, rgba(245, 243, 240, 0.8)), url(../img/imgHeaderBg-02.svg);
        background-position: -3px 0;
        border-radius: 2px 2px 0 0; }

  /* Button component base styles */
  .c-button, .c-button__Action, .c-button__Action--disabled, .c-button__Action--primary, .c-button__Filter, .c-button__Dropdown, .c-button__Dropdown--compact, .SumoSelect > .CaptionCont {
    width: 110px;
    height: 34px;
    /* Partial class (don't use by itself for button styling) */ }
    .c-button__Action, .c-button__Action--disabled, .c-button__Action--primary {
      color: white;
      background-color: #2c685d;
      border: 1px solid #2c685d;
      border-radius: 2px;
      padding: 0;
      font-family: "Pragati Narrow", sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px; }
      .c-button__Action:focus, .c-button__Action--disabled:focus, .c-button__Action--primary:focus, .c-button__Action:hover, .c-button__Action--disabled:hover, .c-button__Action--primary:hover, .c-button__Action:active, .c-button__Action--disabled:active, .c-button__Action--primary:active {
        color: white;
        box-shadow: none; }
      .c-button__Action:focus, .c-button__Action--disabled:focus, .c-button__Action--primary:focus {
        background-color: #2c685d;
        border-color: #2c685d;
        outline-color: #213b3a; }
      .c-button__Action:hover, .c-button__Action--disabled:hover, .c-button__Action--primary:hover {
        background-color: #1ba085;
        border-color: #1ba085; }
      .c-button__Action:active, .c-button__Action--disabled:active, .c-button__Action--primary:active {
        background-color: #25ba9e;
        border-color: #25ba9e; }
      .c-button__Action--disabled {
        color: #cccccc;
        background-color: transparent;
        border-color: #e5e1dc; }
        .c-button__Action--disabled:focus, .c-button__Action--disabled:hover, .c-button__Action--disabled:active {
          color: #cccccc;
          background-color: transparent;
          border-color: #e5e1dc; }
      .c-button__Action--primary {
        width: 165px;
        height: 45px;
        font-size: 18px;
        line-height: 22px; }
    .c-button__Filter {
      border-radius: 2px;
      width: 132px;
      margin: 0 6px;
      padding: 0;
      line-height: 32px;
      color: #787878;
      background-color: #f5f3f0;
      border: 1px solid #e5e1dc;
      font-family: "Institut", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px; }
      .c-button__Filter:first-child {
        margin-left: 0; }
      .c-button__Filter:focus {
        color: #787878;
        background-color: #f5f3f0;
        border: 1px solid #e5e1dc;
        outline-color: #213b3a; }
      .c-button__Filter:hover {
        outline: none;
        color: #373736;
        background-color: #f5f3f0;
        border: 1px solid #f2c975; }
      .c-button__Filter:active {
        outline: none;
        color: #373736;
        background-color: #f2c975;
        border: 1px solid #f2c975; }
    .c-button__Dropdown, .c-button__Dropdown--compact, .SumoSelect > .CaptionCont {
      z-index: 2;
      position: relative;
      border-radius: 2px;
      width: 195px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 12px;
      padding-right: 16px;
      color: #787878;
      background-color: #f5f3f0;
      border: 1px solid #e5e1dc;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
      text-align: left; }
      .c-button__Dropdown:focus, .c-button__Dropdown--compact:focus, .SumoSelect > .CaptionCont:focus {
        color: #787878;
        background-color: #f5f3f0;
        border-color: #e5e1dc;
        outline-color: #213b3a; }
      .c-button__Dropdown:hover, .c-button__Dropdown--compact:hover, .SumoSelect > .CaptionCont:hover {
        color: #373736;
        background-color: #f5f3f0;
        border-color: #f2c975; }
      .c-button__Dropdown:active, .c-button__Dropdown--compact:active, .SumoSelect > .CaptionCont:active {
        color: #373736;
        background-color: #f2c975;
        border-color: #f2c975; }
      .c-button__Dropdown--compact {
        width: 169px; }
    .c-button__Caret, .SumoSelect > .CaptionCont > label > i {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 15px;
      height: 9px;
      background-image: url(../img/iconArrowDown.svg);
      background-repeat: no-repeat; }
    .c-button--modalDefault {
      margin-top: 32px; }

  /* Sumo Select overrides */
  .SumoSelect > .CaptionCont {
    padding: 1px 16px 1px 12px; }

  .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont,
  .SumoSelect.open > .CaptionCont {
    box-shadow: none; }

  .SumoSelect:focus > .CaptionCont {
    padding: 0 15px 0 11px;
    color: #787878;
    background-color: #f5f3f0;
    border-width: 2px;
    border-color: rgba(33, 59, 58, 0.5); }

  .SumoSelect:hover > .CaptionCont {
    color: #373736;
    background-color: #f5f3f0;
    border-color: #f2c975; }

  .SumoSelect:active > .CaptionCont {
    color: #373736;
    background-color: #f2c975;
    border-color: #f2c975; }

  .SumoSelect.open > .CaptionCont {
    border: 1px solid #e5e1dc; }

  .SumoSelect:focus > .CaptionCont > label > i {
    top: 52%;
    right: 14px; }

  .SumoSelect.open > .CaptionCont > label > i {
    background-image: url(../img/iconArrowUp.svg); }

  /* Partial specificity override of bootstrap input-group-btn style */
  .input-group-btn:last-child > .btn.c-button__Action, .input-group-btn:last-child > .btn.c-button__Action--disabled, .input-group-btn:last-child > .btn.c-button__Action--primary {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }

  /* Use bootstrap's behavior to style our class under open state */
  .dropdown.open .c-button__Caret, .dropdown.open .SumoSelect > .CaptionCont > label > i {
    background-image: url(../img/iconArrowUp.svg); }

  /* Task component styles */
  .c-task__Label, .c-task__Label--popup {
    margin: 10px 0;
    color: #1ba085;
    font-family: "Pragati Narrow", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0.3px; }
    .c-task__Label--popup {
      margin: 0;
      font-size: 30px;
      line-height: 65px;
      letter-spacing: normal; }

  .c-task__Icon, .c-task__Icon--left {
    position: relative; }
    .c-task__Icon::before, .c-task__Icon--left::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 19px;
      height: 19px; }
    .c-task__Icon--left {
      padding-left: 32px; }
      .c-task__Icon--left::before {
        left: 0; }
    .c-task__Icon--search::before {
      background-image: url(../img/iconMagnifyingGlassLg.svg);
      background-repeat: no-repeat; }

  .c-task__Link {
    display: block;
    color: #787878;
    background-color: #f5f3f0;
    border: 1px solid #e5e1dc;
    border-radius: 10px/50%;
    width: 165px;
    height: 27px;
    margin-bottom: 14px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px; }
    .c-task__Link:focus, .c-task__Link:hover, .c-task__Link:active {
      text-decoration: none; }
    .c-task__Link:focus {
      color: #787878;
      background-color: #f5f3f0;
      border-color: #e5e1dc;
      outline-color: #213b3a; }
    .c-task__Link:hover {
      color: #2c685d;
      background-color: #f5f3f0;
      border-color: #f2c975; }
    .c-task__Link:active {
      color: #2c685d;
      background-color: #f2c975;
      border-color: #f2c975; }

  /* Info Bar component */
  .c-infoBar, .c-infoBar--status, .c-infoBar--short {
    height: 35px;
    background-color: #f5f3f0;
    border-radius: 2px;
    color: #787878;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .c-infoBar__Label, .c-infoBar__Label--status {
      margin: 0;
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px; }
      .c-infoBar__Label::after, .c-infoBar__Label--status::after {
        content: ':'; }
      .c-infoBar__Label--status {
        margin-left: 16px; }
    .c-infoBar__Value, .c-infoBar__Value--status {
      margin: 0 0 2px 4px;
      font-family: "Institut", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px; }
      .c-infoBar__Value--status {
        margin-right: 4px; }
    .c-infoBar__Divider {
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px; }
      .c-infoBar__Divider::before {
        content: '|'; }
    .c-infoBar--status {
      margin-top: 30px;
      background-color: #f2c975;
      color: #373736;
      justify-content: flex-start; }
    .c-infoBar__Bg {
      /* Background only bootstrap-assist component */
      background-color: #f5f3f0;
      border-radius: 2px; }
    .c-infoBar--short {
      margin-top: 30px;
      padding: 0 19px; }

  /* Form component */
  .c-form {
    background: #f5f3f0;
    border-radius: 2px;
    margin: 11px 0 0 0;
    padding: 34px 0 36px 0;
    color: #787878; }
    .c-form__Label, .c-form__Label--inline, .c-form__Label--inlineLong, .c-form__Label--inlineRadio {
      position: relative;
      display: block;
      margin: 0;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 33px;
      text-align: right;
      letter-spacing: -0.1px;
      /* This is a partial class only (do not use by itself) */ }
      .c-form__Label:focus, .c-form__Label--inline:focus, .c-form__Label--inlineLong:focus, .c-form__Label--inlineRadio:focus {
        outline-color: #213b3a; }
      .c-form__Label--inline, .c-form__Label--inlineLong, .c-form__Label--inlineRadio {
        display: inline-block;
        width: 47px;
        text-align: left;
        vertical-align: middle; }
        .c-form__Label--inlineLong {
          width: auto; }
        .c-form__Label--inlineRadio + .c-form__Radio, .c-form__Label--inlineRadio + .c-form__Radio--horz, .c-form__Label--inlineRadio + .c-form__Radio--horz {
          margin-right: 30px; }
        .c-form__Label--inlineRadio::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -19px;
          width: 16px;
          height: 16px;
          transform: translateY(-50%);
          border-radius: 50%;
          border-width: 1px;
          border-style: solid;
          border-color: #787878; }
      .c-form__Label--standout {
        color: #2c685d;
        font-family: "Pragati Narrow", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px; }
    .c-form__Input {
      height: 34px;
      line-height: 34px;
      border-radius: 2px;
      border-color: #e5e1dc;
      box-shadow: none !important;
      margin-left: 15px; }
      .c-form__Input:focus, .c-form__Input:hover, .c-form__Input:active {
        border-color: #e5e1dc; }
    .c-form__Graphic--radio {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
      .c-form__Graphic--radio::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        border-color: #787878; }
      .c-form__Graphic--radio:focus {
        outline-color: #213b3a; }
    .c-form__Radio, .c-form__Radio--horz {
      visibility: hidden;
      margin-top: -2px; }
      .c-form__Radio:checked + .c-form__Label--inlineRadio::before, .c-form__Radio--horz:checked + .c-form__Label--inlineRadio::before,
      .c-form__Radio:checked + .c-form__Graphic--radio::before, .c-form__Radio--horz:checked + .c-form__Graphic--radio::before {
        border-color: #ea874e; }
      .c-form__Radio:checked + .c-form__Label--inlineRadio::after, .c-form__Radio--horz:checked + .c-form__Label--inlineRadio::after,
      .c-form__Radio:checked + .c-form__Graphic--radio::after, .c-form__Radio--horz:checked + .c-form__Graphic--radio::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -15px;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #f2c975; }
      .c-form__Radio:checked + .c-form__Graphic--radio::after, .c-form__Radio--horz:checked + .c-form__Graphic--radio::after {
        left: 4px; }
      .c-form__Radio:hover + .c-form__Label--inlineRadio::before, .c-form__Radio--horz:hover + .c-form__Label--inlineRadio::before {
        border-color: #ea874e; }
    .c-form__Text {
      width: 166px;
      height: 33px;
      outline: none;
      border: 1px solid #b7b7b7;
      background-color: transparent;
      padding-left: 9px;
      padding-right: 9px;
      vertical-align: middle;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 33px; }
      .c-form__Text:focus {
        background-color: white;
        border-color: #ea874e; }
      .c-form__Text:hover {
        border-color: #ea874e; }
    .c-form__Field, .c-form__Field--separated {
      position: relative;
      margin-bottom: 11px; }
      .c-form__Field--separated {
        margin-top: 167px; }
    .c-form__Group {
      margin-top: 64px;
      margin-bottom: 27px; }
    .c-form__LookupGroup {
      display: inline; }
      .c-form__LookupGroup:focus .c-form__LookupButton {
        outline-color: #213b3a;
        background-color: #ea874e; }
      .c-form__LookupGroup:focus .c-form__LookupQuery {
        outline-color: #213b3a;
        color: #ea874e; }
      .c-form__LookupGroup:hover .c-form__LookupButton {
        background-color: #f2c975; }
      .c-form__LookupGroup:hover .c-form__LookupQuery {
        color: #ea874e; }
      .c-form__LookupGroup:active .c-form__LookupButton {
        background-color: white; }
      .c-form__LookupGroup:active .c-form__LookupQuery {
        color: white;
        border-bottom-color: white; }
    .c-form__LookupButton {
      width: 28px;
      height: 28px;
      margin-left: 6px;
      background-color: #ea874e;
      border-radius: 50%;
      box-shadow: none;
      border: none;
      vertical-align: middle; }
      .c-form__LookupButton:focus {
        outline-color: #213b3a; }
      .c-form__LookupButton:active .c-form__LookupIcon, .c-form__LookupButton:active .c-form__LookupIcon--active {
        display: none; }
      .c-form__LookupButton:active .c-form__LookupIcon--active {
        display: block; }
    .c-form__LookupQuery {
      display: inline-block;
      margin: 0 0 0 13px;
      width: 138px;
      height: 29px;
      cursor: pointer;
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      border-bottom: 1px solid #ea874e;
      color: #ea874e;
      vertical-align: middle; }
      .c-form__LookupQuery--isEmpty {
        border-bottom: 1px solid #fcd9c8; }
    .c-form__LookupIcon, .c-form__LookupIcon--active {
      display: block;
      width: 12px;
      height: 12px;
      vertical-align: middle;
      margin: 0 auto; }
      .c-form__LookupIcon--active {
        display: none; }

  /* Partial override of Bootstrap style */
  .form-inline .input-group > .form-control.c-form__Input {
    width: auto;
    z-index: 2; }

  /* Control Set component */
  .c-controlSet {
    margin-top: 24px; }

  /* Modal component */
  .c-modal, .c-modal-5 {
    position: absolute;
    display: none;
    background-color: white;
    padding-bottom: 32px; }
    .c-modal::before, .c-modal-5::before {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      top: 50%;
      left: -29px;
      /* at 30 I'm seeing a pinline of background between the arrow
                      and the modal body */
      transform: translateY(-50%);
      border: 15px solid transparent;
      border-right-color: white; }
    .c-modal-5 {
      width: 460px;
      border-radius: 2px; }
    .c-modal__Arrow--bottom {
      /* partial class, don't use by itself */ }
      .c-modal__Arrow--bottom::before {
        top: initial;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        border-right-color: transparent;
        border-top-color: white; }
    .c-modal__Arrow--top {
      /* partial class, don't use by itself */ }
      .c-modal__Arrow--top::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        border-right-color: transparent;
        border-bottom-color: white; }
    .c-modal__Lightbox {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(55, 55, 54, 0.49); }
    .c-modal__Panel {
      margin: 0 38px; }

  /*
   * Table styles
   */
  table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    /*
       * Header and footer styles
       */
    /*
       * Body styles
       */ }
    table.dataTable thead th,
    table.dataTable thead td {
      padding: 0;
      border-bottom: none !important; }
      table.dataTable thead th:active,
      table.dataTable thead td:active {
        outline: none; }
    table.dataTable tfoot th,
    table.dataTable tfoot td {
      padding: 10px 18px 6px 18px;
      border-top: 1px solid #e5e1dc; }
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc_disabled,
    table.dataTable thead .sorting_desc_disabled {
      cursor: pointer;
      *cursor: hand; }
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc_disabled,
    table.dataTable thead .sorting_desc_disabled {
      background-repeat: no-repeat;
      background-position: center right; }
    table.dataTable thead .sorting {
      background-image: url("../images/sort_both.png"); }
    table.dataTable thead .sorting_asc {
      background-image: url("../images/sort_asc.png"); }
    table.dataTable thead .sorting_desc {
      background-image: url("../images/sort_desc.png"); }
    table.dataTable thead .sorting_asc_disabled {
      background-image: url("../images/sort_asc_disabled.png"); }
    table.dataTable thead .sorting_desc_disabled {
      background-image: url("../images/sort_desc_disabled.png"); }
    table.dataTable tbody tr {
      background-color: #f5f3f0; }
      table.dataTable tbody tr.selected {
        background-color: #f5f3f0; }
    table.dataTable tbody th,
    table.dataTable tbody td {
      padding: 0; }
    table.dataTable.row-border tbody th, table.dataTable.row-border tbody td,
    table.dataTable.display tbody th,
    table.dataTable.display tbody td {
      border-top: 0px solid #dddddd; }
    table.dataTable.row-border tbody tr:first-child th,
    table.dataTable.row-border tbody tr:first-child td,
    table.dataTable.display tbody tr:first-child th,
    table.dataTable.display tbody tr:first-child td {
      border-top: none; }
    table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
      border-top: 0px solid #dddddd;
      border-right: 0px solid #dddddd; }
    table.dataTable.cell-border tbody tr th:first-child,
    table.dataTable.cell-border tbody tr td:first-child {
      border-left: 0px solid #dddddd; }
    table.dataTable.cell-border tbody tr:first-child th,
    table.dataTable.cell-border tbody tr:first-child td {
      border-top: none; }
    table.dataTable.stripe tbody tr.odd,
    table.dataTable.display tbody tr.odd {
      background-color: #efedea; }
      table.dataTable.stripe tbody tr.odd.selected,
      table.dataTable.display tbody tr.odd.selected {
        background-color: #efedea; }
    table.dataTable.hover tbody tr:hover,
    table.dataTable.display tbody tr:hover {
      background-color: #eceae7; }
      table.dataTable.hover tbody tr:hover.selected,
      table.dataTable.display tbody tr:hover.selected {
        background-color: #eceae7; }
    table.dataTable.order-column tbody tr > .sorting_1,
    table.dataTable.order-column tbody tr > .sorting_2,
    table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
    table.dataTable.display tbody tr > .sorting_2,
    table.dataTable.display tbody tr > .sorting_3 {
      background-color: #f0eeeb; }
    table.dataTable.order-column tbody tr.selected > .sorting_1,
    table.dataTable.order-column tbody tr.selected > .sorting_2,
    table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
    table.dataTable.display tbody tr.selected > .sorting_2,
    table.dataTable.display tbody tr.selected > .sorting_3 {
      background-color: #f0eeeb; }
    table.dataTable.display tbody tr.odd > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
      background-color: #e8e6e3; }
    table.dataTable.display tbody tr.odd > .sorting_2,
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
      background-color: #e9e8e5; }
    table.dataTable.display tbody tr.odd > .sorting_3,
    table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
      background-color: #ebeae7; }
    table.dataTable.display tbody tr.odd.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
      background-color: #e8e6e3; }
    table.dataTable.display tbody tr.odd.selected > .sorting_2,
    table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
      background-color: #e9e8e5; }
    table.dataTable.display tbody tr.odd.selected > .sorting_3,
    table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
      background-color: #ebeae7; }
    table.dataTable.display tbody tr.even > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
      background-color: #f0eeeb; }
    table.dataTable.display tbody tr.even > .sorting_2,
    table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
      background-color: #f2f0ed; }
    table.dataTable.display tbody tr.even > .sorting_3,
    table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
      background-color: #f4f2ef; }
    table.dataTable.display tbody tr.even.selected > .sorting_1,
    table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
      background-color: #f0eeeb; }
    table.dataTable.display tbody tr.even.selected > .sorting_2,
    table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
      background-color: #f2f0ed; }
    table.dataTable.display tbody tr.even.selected > .sorting_3,
    table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
      background-color: #f4f2ef; }
    table.dataTable.display tbody tr:hover > .sorting_1,
    table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
      background-color: #e1dfdc; }
    table.dataTable.display tbody tr:hover > .sorting_2,
    table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
      background-color: #e3e1de; }
    table.dataTable.display tbody tr:hover > .sorting_3,
    table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
      background-color: #e6e4e1; }
    table.dataTable.display tbody tr:hover.selected > .sorting_1,
    table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
      background-color: #e1dfdc; }
    table.dataTable.display tbody tr:hover.selected > .sorting_2,
    table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
      background-color: #e3e1de; }
    table.dataTable.display tbody tr:hover.selected > .sorting_3,
    table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
      background-color: #e6e4e1; }
    table.dataTable.no-footer {
      border-bottom: 1px solid transparent; }
    table.dataTable.nowrap th, table.dataTable.nowrap td {
      white-space: nowrap; }
    table.dataTable.compact thead th,
    table.dataTable.compact thead td {
      padding: 4px 17px 4px 4px; }
    table.dataTable.compact tfoot th,
    table.dataTable.compact tfoot td {
      padding: 4px; }
    table.dataTable.compact tbody th,
    table.dataTable.compact tbody td {
      padding: 4px; }
    table.dataTable th.dt-left,
    table.dataTable td.dt-left {
      text-align: left; }
    table.dataTable th.dt-center,
    table.dataTable td.dt-center,
    table.dataTable td.dataTables_empty {
      text-align: center; }
    table.dataTable th.dt-right,
    table.dataTable td.dt-right {
      text-align: right; }
    table.dataTable th.dt-justify,
    table.dataTable td.dt-justify {
      text-align: justify; }
    table.dataTable th.dt-nowrap,
    table.dataTable td.dt-nowrap {
      white-space: nowrap; }
    table.dataTable thead th.dt-head-left,
    table.dataTable thead td.dt-head-left,
    table.dataTable tfoot th.dt-head-left,
    table.dataTable tfoot td.dt-head-left {
      text-align: left; }
    table.dataTable thead th.dt-head-center,
    table.dataTable thead td.dt-head-center,
    table.dataTable tfoot th.dt-head-center,
    table.dataTable tfoot td.dt-head-center {
      text-align: center; }
    table.dataTable thead th.dt-head-right,
    table.dataTable thead td.dt-head-right,
    table.dataTable tfoot th.dt-head-right,
    table.dataTable tfoot td.dt-head-right {
      text-align: right; }
    table.dataTable thead th.dt-head-justify,
    table.dataTable thead td.dt-head-justify,
    table.dataTable tfoot th.dt-head-justify,
    table.dataTable tfoot td.dt-head-justify {
      text-align: justify; }
    table.dataTable thead th.dt-head-nowrap,
    table.dataTable thead td.dt-head-nowrap,
    table.dataTable tfoot th.dt-head-nowrap,
    table.dataTable tfoot td.dt-head-nowrap {
      white-space: nowrap; }
    table.dataTable tbody th.dt-body-left,
    table.dataTable tbody td.dt-body-left {
      text-align: left; }
    table.dataTable tbody th.dt-body-center,
    table.dataTable tbody td.dt-body-center {
      text-align: center; }
    table.dataTable tbody th.dt-body-right,
    table.dataTable tbody td.dt-body-right {
      text-align: right; }
    table.dataTable tbody th.dt-body-justify,
    table.dataTable tbody td.dt-body-justify {
      text-align: justify; }
    table.dataTable tbody th.dt-body-nowrap,
    table.dataTable tbody td.dt-body-nowrap {
      white-space: nowrap; }

  table.dataTable,
  table.dataTable th,
  table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

  /*
   * Control feature layout
   */
  .dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1; }
    .dataTables_wrapper .dataTables_length {
      float: left; }
    .dataTables_wrapper .dataTables_filter {
      float: right;
      text-align: right; }
      .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em; }
    .dataTables_wrapper .dataTables_info {
      clear: both;
      float: left;
      padding-top: 0.755em; }
    .dataTables_wrapper .dataTables_paginate {
      float: right;
      text-align: right;
      padding-top: 0.25em; }
      .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box;
        display: inline-block;
        min-width: 1.5em;
        line-height: 1.41em;
        padding: 0.18em 2.12em;
        margin-left: 2px;
        text-align: center;
        text-decoration: none !important;
        cursor: pointer;
        *cursor: hand;
        color: #787878 !important;
        border: 1px solid transparent;
        border-radius: 2px; }
        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
          color: #787878 !important;
          border: 1px solid #bababa;
          background-color: white;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ffffff));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, white 0%, #ffffff 100%);
          /* Chrome10+,Safari5.1+ */
          background: -moz-linear-gradient(top, white 0%, #ffffff 100%);
          /* FF3.6+ */
          background: -ms-linear-gradient(top, white 0%, #ffffff 100%);
          /* IE10+ */
          background: -o-linear-gradient(top, white 0%, #ffffff 100%);
          /* Opera 11.10+ */
          background: linear-gradient(to bottom, white 0%, #ffffff 100%);
          /* W3C */ }
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
          cursor: default;
          color: #cccccc !important;
          border: 1px solid transparent;
          background: transparent;
          box-shadow: none; }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
          color: #ea874e !important; }
        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
          outline: none;
          color: #373736 !important; }
      .dataTables_wrapper .dataTables_paginate .ellipsis {
        padding: 0 1em; }
    .dataTables_wrapper .dataTables_processing {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 40px;
      margin-left: -50%;
      margin-top: -25px;
      padding-top: 20px;
      text-align: center;
      font-size: 1.2em;
      background-color: white;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 243, 240, 0)), color-stop(25%, rgba(245, 243, 240, 0.9)), color-stop(75%, rgba(245, 243, 240, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(left, rgba(245, 243, 240, 0) 0%, rgba(245, 243, 240, 0.9) 25%, rgba(245, 243, 240, 0.9) 75%, rgba(245, 243, 240, 0) 100%);
      background: -moz-linear-gradient(left, rgba(245, 243, 240, 0) 0%, rgba(245, 243, 240, 0.9) 25%, rgba(245, 243, 240, 0.9) 75%, rgba(245, 243, 240, 0) 100%);
      background: -ms-linear-gradient(left, rgba(245, 243, 240, 0) 0%, rgba(245, 243, 240, 0.9) 25%, rgba(245, 243, 240, 0.9) 75%, rgba(245, 243, 240, 0) 100%);
      background: -o-linear-gradient(left, rgba(245, 243, 240, 0) 0%, rgba(245, 243, 240, 0.9) 25%, rgba(245, 243, 240, 0.9) 75%, rgba(245, 243, 240, 0) 100%);
      background: linear-gradient(to right, rgba(245, 243, 240, 0) 0%, rgba(245, 243, 240, 0.9) 25%, rgba(245, 243, 240, 0.9) 75%, rgba(245, 243, 240, 0) 100%); }
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
      color: #787878; }
    .dataTables_wrapper .dataTables_scroll {
      clear: both; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
        *margin-top: -1px;
        -webkit-overflow-scrolling: touch; }
        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
          vertical-align: middle; }
        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
          height: 0;
          overflow: hidden;
          margin: 0 !important;
          padding: 0 !important; }
    .dataTables_wrapper.no-footer .dataTables_scrollBody {
      border-bottom: 1px solid #e5e1dc; }
    .dataTables_wrapper.no-footer div.dataTables_scrollHead > table,
    .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
      border-bottom: none; }
    .dataTables_wrapper:after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0; }

  @media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
      float: none;
      text-align: center; }
    .dataTables_wrapper .dataTables_paginate {
      margin-top: 0.5em; } }

  @media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: center; }
    .dataTables_wrapper .dataTables_filter {
      margin-top: 0.5em; } }

  /* Table component */
  .c-table {
    /* specific fixed width column class partials */ }
    .c-table__Row, .c-table__Row--labels {
      height: 36px;
      line-height: 36px;
      border-collapse: collapse !important;
      border-radius: 0; }
      .c-table__Row th:first-child, .c-table__Row--labels th:first-child, .c-table__Row td:first-child, .c-table__Row--labels td:first-child {
        border-radius: 2px 0 0 2px; }
      .c-table__Row th:last-child, .c-table__Row--labels th:last-child, .c-table__Row td:last-child, .c-table__Row--labels td:last-child {
        border-radius: 0 2px 2px 0; }
      .c-table__Row--labels {
        background-color: #e5e1dc; }
      .c-table__Row--gap {
        height: 8px;
        line-height: 8px;
        background-color: transparent !important; }
    .c-table__Label {
      color: #1ba085;
      background-color: #e5e1dc;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 36px;
      height: 36px; }
      .c-table__Label:first-child {
        padding-left: 5px; }
    .c-table__Data {
      position: relative;
      color: #787878;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 36px;
      height: 36px; }
    .c-table__Body .c-table__Row:nth-child(2n), .c-table__Body .c-table__Row--labels:nth-child(2n) {
      background-color: transparent !important; }
    .c-table__Text, .c-table__Text--ellipse {
      display: inline-block;
      position: relative;
      margin: 0;
      font-weight: 400;
      vertical-align: bottom; }
      .c-table__Text--ellipse {
        overflow: hidden;
        white-space: nowrap; }
    .c-table__Pagination, .c-table__Pagination--prev, .c-table__Pagination--next {
      color: #787878;
      font-family: "Pragati Narrow", sans-serif;
      font-weight: 400;
      font-size: 17px; }
      .c-table__Pagination--none {
        position: absolute;
        left: 14px;
        top: 29px;
        color: #ea874e;
        font-family: "Institut", sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding-right: 36px; }
      .c-table__Pagination--prev, .c-table__Pagination--next {
        position: relative; }
        .c-table__Pagination--prev:focus, .c-table__Pagination--next:focus {
          outline-color: #213b3a; }
        .c-table__Pagination--prev::before, .c-table__Pagination--next::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border-radius: 50%;
          width: 22px;
          height: 22px;
          background-color: #ea874e; }
        .c-table__Pagination--prev::after, .c-table__Pagination--next::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background-image: url(../img/iconTripleArrowLeftHoverDark.svg);
          background-repeat: no-repeat; }
        .c-table__Pagination--prev.disabled::before, .c-table__Pagination--prev.disabled::after, .c-table__Pagination--next.disabled::before, .c-table__Pagination--next.disabled::after {
          background-color: #f2b795;
          cursor: default; }
      .c-table__Pagination--next {
        border-left: 1px solid #e5e1dc !important; }
        .c-table__Pagination--next::before {
          left: initial;
          right: 0; }
        .c-table__Pagination--next::after {
          left: initial;
          right: 5px;
          transform: rotateY(180deg) translateY(-50%); }
    .c-table__vt {
      /* viewTag table partials */ }
      .c-table__vtDesc {
        width: 84px;
        overflow: hidden;
        white-space: nowrap; }
      .c-table__vtLOC {
        width: 22px;
        overflow: hidden;
        white-space: nowrap; }
      .c-table__vtHeat {
        width: 44px;
        overflow: hidden;
        white-space: nowrap; }
      .c-table__vtVend {
        width: 58px;
        overflow: hidden;
        white-space: nowrap; }

  /* Override datatables class */
  div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 20px; }

  /* column width settings and alignment by element ID */
  /* Reminder: table cells are content-box sized */
  .c-table__ModalSelectCol, #payTermsSelectCol {
    width: 70px;
    text-align: center; }

  .c-table__ModalCodeCol, #payTermsCodeCol {
    width: 64px;
    text-align: center;
    padding-right: 19px; }

  .c-table__ModalDesCol, #payTermsDesCol {
    width: 220px; }

  #viewTagsSelectCol {
    width: 52px;
    padding-left: 16px; }

  /* Decorator component styles */
  .c-decorator {
    position: relative;
    display: inline-block;
    /* try to be adaptable to surrounding environment */
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    vertical-align: inherit; }

  /* List component */
  .c-list__Dropdown, .c-list__Dropdown--compact, .c-list__DropdownMulti, .SumoSelect > .optWrapper > .options {
    z-index: 1;
    width: 195px;
    margin-top: -2px;
    color: white;
    background-color: #1ba085;
    border: 1px solid #1ba085;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px; }
    .c-list__Dropdown--compact {
      width: 169px; }
    .c-list__DropdownMulti {
      position: relative;
      box-shadow: none;
      border-radius: 2px; }

  .c-list__Item, .dropdown-menu > li > a, .SumoSelect > .optWrapper > .options li.opt {
    height: 29px;
    line-height: 29px;
    padding-left: 13px;
    padding-right: 14px;
    cursor: pointer; }
    .c-list__Item:last-child .c-list__Text, .dropdown-menu > li > a:last-child .c-list__Text, .SumoSelect > .optWrapper > .options li.opt:last-child .c-list__Text, .c-list__Item:last-child .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .c-list__Item:last-child label, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:last-child label, .SumoSelect > .optWrapper > .options li.opt:last-child label {
      border-bottom: none; }
    .c-list__Item:focus, .dropdown-menu > li > a:focus, .SumoSelect > .optWrapper > .options li.opt:focus {
      background-color: #25ba9e;
      border-bottom: 1px solid #25ba9e;
      font-weight: 400; }
      .c-list__Item:focus .c-list__Text, .dropdown-menu > li > a:focus .c-list__Text, .SumoSelect > .optWrapper > .options li.opt:focus .c-list__Text, .c-list__Item:focus .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .c-list__Item:focus label, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:focus label, .SumoSelect > .optWrapper > .options li.opt:focus label {
        border-bottom: none; }
    .c-list__Item:hover, .dropdown-menu > li > a:hover, .SumoSelect > .optWrapper > .options li.opt:hover {
      background-color: #25ba9e;
      border-bottom: 1px solid #25ba9e;
      font-weight: 400; }
      .c-list__Item:hover .c-list__Text, .dropdown-menu > li > a:hover .c-list__Text, .SumoSelect > .optWrapper > .options li.opt:hover .c-list__Text, .c-list__Item:hover .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .c-list__Item:hover label, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:hover label, .SumoSelect > .optWrapper > .options li.opt:hover label {
        border-bottom: none; }
    .c-list__Item:active, .dropdown-menu > li > a:active, .SumoSelect > .optWrapper > .options li.opt:active {
      background-color: #2c685d;
      border-bottom: 1px solid #2c685d;
      font-weight: 700; }
      .c-list__Item:active .c-list__Text, .dropdown-menu > li > a:active .c-list__Text, .SumoSelect > .optWrapper > .options li.opt:active .c-list__Text, .c-list__Item:active .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .c-list__Item:active label, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:active label, .SumoSelect > .optWrapper > .options li.opt:active label {
        border-bottom: none; }

  .c-list__Text, .SumoSelect > .optWrapper > .options li label {
    margin: 0;
    border-bottom: 1px solid #25ba9e; }
    .c-list__Text:focus, .SumoSelect > .optWrapper > .options li label:focus {
      outline-color: #213b3a; }

  /* Use bootstrap's behavior to style our class under open state */
  /* override bootstrap specificity */
  .dropdown-menu > li > a {
    color: inherit;
    padding-top: 0;
    padding-bottom: 0; }
    .dropdown-menu > li > a:focus {
      background-color: unset;
      color: inherit;
      border-bottom: 1px solid #25ba9e;
      font-weight: 400;
      outline-color: #213b3a; }
      .dropdown-menu > li > a:focus .c-list__Text, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:focus label {
        border-bottom: none; }
    .dropdown-menu > li > a:hover {
      background-color: #25ba9e;
      color: inherit;
      border-bottom: 1px solid #25ba9e;
      font-weight: 400; }
      .dropdown-menu > li > a:hover .c-list__Text, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:hover label {
        border-bottom: none; }
    .dropdown-menu > li > a:active {
      background-color: #2c685d;
      color: inherit;
      border-bottom: 1px solid #2c685d;
      font-weight: 700; }
      .dropdown-menu > li > a:active .c-list__Text, .SumoSelect > .optWrapper > .options .dropdown-menu > li > a:active label {
        border-bottom: none; }

  /* sumoselect */
  .SumoSelect > .optWrapper {
    border: none;
    width: auto;
    z-index: 1; }

  .SumoSelect.open > .optWrapper {
    top: 33px; }

  .SumoSelect > .optWrapper ul {
    overflow: visible; }

  .SumoSelect > .optWrapper > .options {
    max-height: none;
    padding-top: 5px;
    padding-bottom: 5px; }

  .SumoSelect > .optWrapper > .options li.opt {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none; }

  .SumoSelect > .optWrapper > .options li.opt.disabled {
    color: #2c685d !important;
    opacity: 1 !important; }

  .SumoSelect > .optWrapper > .options li.opt.disabled * {
    opacity: 1 !important; }

  .SumoSelect > .optWrapper > .options li label {
    font-weight: 400; }

  /* Tooltip component */
  .c-tooltip {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    height: 30px;
    padding: 0 13px;
    white-space: nowrap;
    color: white;
    background-color: #1ba085;
    border: 1px solid #1ba085;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px; }
    .c-tooltip__Arrow {
      position: absolute;
      top: -10px;
      left: 8px;
      width: 10px;
      height: 10px;
      border: 5px solid  transparent;
      border-bottom-color: #1ba085; }

  .c-bannerBox {
    box-sizing: border-box;
    margin-top: 48px;
    padding: 6px;
    height: 48px;
    border-radius: 2px;
    background-color: #1ba085; }

  .h-clearMargin {
    margin: 0 !important; }
    .h-clearMargin--top {
      margin-top: 0 !important; }
    .h-clearMargin--right {
      margin-right: 0 !important; }
    .h-clearMargin--bottom {
      margin-bottom: 0 !important; }
    .h-clearMargin--left {
      margin-left: 0 !important; }

  .h-float__left {
    float: left !important; }

  .h-float__right {
    float: right !important; }

  .h-float__none {
    float: none !important; }

  .h-hidden {
    display: none !important; }

  .h-colCentred {
    text-align: center !important; }

  .h-rounded {
    border-radius: 2px; }

  /* The Payment Terms Code column has a unique spacing style */
  .h-payCode {
    padding-left: 18px; }

  .h-isSelectable {
    cursor: pointer !important; }

  .h-isSelected {
    font-weight: 700 !important; }
    .h-isSelected__Cell, .h-isSelected__Cell--first, .h-isSelected__Cell--last {
      border-top: 1px solid #f2c975 !important;
      border-bottom: 1px solid #f2c975 !important; }
      .h-isSelected__Cell--first {
        border-left: 1px solid #f2c975 !important; }
      .h-isSelected__Cell--last {
        border-right: 1px solid #f2c975 !important; }
    .h-isSelected__Button.c-button__Filter {
      position: relative;
      /* Limit style to class with matching hover states */
      color: #373736;
      background-color: #f2c975;
      border-color: #f2c975; }
      .h-isSelected__Button.c-button__Filter:focus, .h-isSelected__Button.c-button__Filter:hover, .h-isSelected__Button.c-button__Filter:active {
        color: #373736;
        background-color: #f2c975;
        border-color: #f2c975; }
      .h-isSelected__Button.c-button__Filter::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 16px;
        height: 16px;
        border: 8px solid  transparent;
        border-top-color: #f2c975; }
    .h-isSelected__ListItem, .ssms__multiselect li.selected, .SumoSelect > .optWrapper > .options li.opt.selected,
    .SumoSelect > .optWrapper > .options li.opt.sel {
      background-color: #2c685d;
      border-bottom: 1px solid #2c685d;
      font-weight: 700; }
      .h-isSelected__ListItem .c-list__Text, .ssms__multiselect li.selected .c-list__Text, .SumoSelect > .optWrapper > .options li.opt.selected .c-list__Text,
      .SumoSelect > .optWrapper > .options li.opt.sel .c-list__Text, .h-isSelected__ListItem .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .h-isSelected__ListItem label, .ssms__multiselect .SumoSelect > .optWrapper > .options li.selected label, .SumoSelect > .optWrapper > .options .ssms__multiselect li.selected label, .SumoSelect > .optWrapper > .options li.opt.selected label, .SumoSelect > .optWrapper > .options li.opt.sel label {
        border-bottom: none; }

  .h-scrollXShift {
    left: -8.5px; }

  .h-isActive__Field {
    z-index: 2; }

  .h-isActive__Label {
    color: white; }

  .h-isActive__TextInput {
    color: white;
    border-color: white; }
    .h-isActive__TextInput:focus {
      color: #787878;
      background-color: white; }

  .h-isActive__LookupButton {
    background-color: white !important; }
    .h-isActive__LookupButton .c-form__LookupIcon, .h-isActive__LookupButton .c-form__LookupIcon--active {
      display: none !important; }
    .h-isActive__LookupButton .c-form__LookupIcon--active {
      display: block !important; }

  .h-isActive__LookupQuery {
    color: white !important;
    border-color: white !important; }

  /* ssms */
  .ssms__multiselect {
    display: block; }

  .ssms__multiselect li > a {
    height: 30px; }
    .ssms__multiselect li > a:hover {
      height: 29px;
      border-bottom: none; }
    .ssms__multiselect li > a.ssms__Item--disabled:hover {
      height: 30px;
      border-bottom: 1px solid #25ba9e !important; }

  .ssms__Item--hover, .ssms__multiselect li.selected.ssms__Item--hover {
    background-color: #25ba9e;
    color: inherit;
    border-bottom: 1px solid #25ba9e;
    font-weight: 400; }
    .ssms__Item--hover .c-list__Text, .ssms__Item--hover .SumoSelect > .optWrapper > .options li label, .SumoSelect > .optWrapper > .options li .ssms__Item--hover label, .ssms__multiselect li.selected.ssms__Item--hover .c-list__Text, .ssms__multiselect .SumoSelect > .optWrapper > .options li.selected.ssms__Item--hover label, .SumoSelect > .optWrapper > .options .ssms__multiselect li.selected.ssms__Item--hover label {
      border-bottom: none; }

  .ssms__Item--active, .ssms__multiselect li.selected.ssms__Item--active {
    background-color: #2c685d;
    border-bottom: 1px solid #2c685d;
    font-weight: 700; }

  .ssms__Item--disabled {
    color: #2c685d !important; }
    .ssms__Item--disabled:focus, .ssms__Item--disabled:hover, .ssms__Item--disabled:active {
      background: unset !important;
      color: #2c685d !important;
      border: none !important;
      font-weight: 400 !important;
      cursor: default; }

    /* overrided bootstrap's classes for form control, based on 80 column management */
  form.form-horizontal[myform ='myform'] {
    font-size: 15px; }

  form.form-horizontal[myform ='myform']
    .form-group .control-label {
      text-align: start; }

  form.form-horizontal[myform ='myform']
    .form-group [class*='col-'] {
      padding-right: 0; padding-left: 0; }

  form.form-horizontal[myform ='myform']
    .form-group [class*='col-']
      input {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1em; }

  form.form-horizontal[myform ='myform']
    .form-group [class*='col-']
      label {
        overflow: hidden; }

  .input-group[class*="col-"] {
    float: left; }

  .btn.btn-sm {
    font-size: 12px; }

  .btn.prompt {
    height: 2.84em; border-radius: 0px; }

  form table{
    white-space: initial; }

  form {
    white-space: nowrap; }
