<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Display Plant Equipment">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Display Plant Equipment KEY SCREEN</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="keyPanel" enable-validation="true" auto-focus="true">
										<!-- KEY SCREEN RECORD LAYOUT -->
                    <fieldset>
											<input [(ngModel)]="plantEquipment.awhRegionCode" name="awhRegionCode" id="awhRegionCode" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentCode
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ plantEquipment.plantEquipmentCode }}
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" type="hidden"/>
											<input [(ngModel)]="plantEquipment.centreCodeKey" name="centreCodeKey" id="centreCodeKey" type="hidden"/>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
