<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Edt Plant Equipment">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Edit Plant Equipment Details</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    RegionCode
											  </label>
											  <div class="col-md-1 col-md-offset-8">
											    {{ plantEquipment.awhRegionCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ plantEquipment.awhRegionNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentCode
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ plantEquipment.plantEquipmentCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    BuisnessSegment
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ plantEquipment.awhBuisnessSegment }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="visualEquipmentCode" class="col-md-3 control-label">
											    VisualEquipmentCode
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="6" size="21em" pInputText [(ngModel)]="plantEquipment.visualEquipmentCode" name="visualEquipmentCode" id="visualEquipmentCode" placeholder="Visual Equipment Code" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="centreCodeKey" class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="2" size="6em" pInputText [(ngModel)]="plantEquipment.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ plantEquipment.centreNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentLeasor" class="col-md-3 control-label">
											    EquipmentLeasor
											  </label>
											  <div class="col-md-8 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="5" size="16em" pInputText [(ngModel)]="plantEquipment.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" placeholder="Equipment Leasor" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Organization
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ plantEquipment.organisationNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="awhBuisnessSegment" class="col-md-3 control-label">
											    Segment
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="plantEquipment.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" title="Segment" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of awhBuisnessSegment">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentDescription" class="col-md-3 control-label">
											    Description
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="50" size="11em" pInputText [(ngModel)]="plantEquipment.equipmentDescription" name="equipmentDescription" id="equipmentDescription" placeholder="Description" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentBarcode" class="col-md-3 control-label">
											    Barcode
											  </label>
											  <div class="col-md-17 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="17" size="7em" pInputText [(ngModel)]="plantEquipment.equipmentBarcode" name="equipmentBarcode" id="equipmentBarcode" placeholder="Barcode" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentSerialNumber" class="col-md-3 control-label">
											    SerialNo.
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="25" size="10em" pInputText [(ngModel)]="plantEquipment.equipmentSerialNumber" name="equipmentSerialNumber" id="equipmentSerialNumber" placeholder="Serial No." (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="leaseComencmentDate" class="col-md-3 control-label">
											    LeaseCommence
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="plantEquipment.leaseComencmentDate" [showIcon]="true" name="leaseComencmentDate" (focus)="setFocusField('leaseComencmentDate')">
											        </p-calendar>
											      </div>
											      <div *ngIf="plantEquipment['_SysMessages'] && plantEquipment['_SysMessages'].leaseComencmentDate" style="margin:10px;color:red;">
											        &nbsp;&nbsp;&nbsp;&nbsp;{{plantEquipment["_SysMessages"].leaseComencmentDate}}
											      </div>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="leaseExpireDate" class="col-md-3 control-label">
											    Expire
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="plantEquipment.leaseExpireDate" [showIcon]="true" name="leaseExpireDate" (focus)="setFocusField('leaseExpireDate')">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="leaseMonthlyRateS" class="col-md-3 control-label">
											    Monthlyrate$
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="7" size="14em" pInputText [(ngModel)]="plantEquipment.leaseMonthlyRateS" name="leaseMonthlyRateS" id="leaseMonthlyRateS" placeholder="Monthly rate $" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="leaseMaxTotalUnits" class="col-md-3 control-label">
											    LeaseTotalUnits
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="7" size="width:17em" pInputText [(ngModel)]="plantEquipment.leaseMaxTotalUnits" name="leaseMaxTotalUnits" id="leaseMaxTotalUnits" placeholder="Lease Total Units" (focus)="setFocusField('')" type="number" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingFrequency" class="col-md-3 control-label">
											    ReadingFrequency
											  </label>
											  <div class="col-md-8 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="plantEquipment.readingFrequency" name="readingFrequency" id="readingFrequency" title="ReadingFrequency" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of readingFrequency">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentComment" class="col-md-3 control-label">
											    Comment
											  </label>
											  <div class="col-md-120 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="120" size="7em" pInputText [(ngModel)]="plantEquipment.equipmentComment" name="equipmentComment" id="equipmentComment" placeholder="Comment" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentTypeCode" class="col-md-3 control-label">
											    TypeCode
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="4" size="9em" pInputText [(ngModel)]="plantEquipment.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" placeholder="Type Code" (focus)="setFocusField('equipmentTypeCode')" type="text" class="form-control" appCapitalize/>
											      <app-function-key-panel [keys]="searchParams">
											      </app-function-key-panel>
											    </div>
											  </div>
											</div>
											<div><app-selEquipmentType *ngIf="isModalPopUp && screenName=='selEquipmentType'"></app-selEquipmentType></div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentTypeDescDrv
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ plantEquipment.equipmentTypeDescDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="equipReadingUnit" class="col-md-3 control-label">
											    ReadingUnit
											  </label>
											  <div class="col-md-8 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="plantEquipment.equipReadingUnit" name="equipReadingUnit" id="equipReadingUnit" title="ReadingUnit" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of equipReadingUnit">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingValue" class="col-md-3 control-label">
											    InitialReading
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="7" size="width:15em" pInputText [(ngModel)]="plantEquipment.readingValue" name="readingValue" id="readingValue" placeholder="Initial Reading" (focus)="setFocusField('')" type="number" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingRequiredDate" class="col-md-3 control-label">
											    ReadingDate
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="plantEquipment.readingRequiredDate" [showIcon]="true" name="readingRequiredDate" (focus)="setFocusField('readingRequiredDate')">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
