<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" programName="MNU100S2 EQ"
  menuName="Equipment Handling">
</app-header>
<h4 class="main-title"> Select one of the following:</h4>
<br/>

<ol>

  <li>
    <a (click)="gotoEquipment('WSPLTWJEFK')" class="main-option">Edit Equipment Types - WSPLTWJEFK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTWCDFK')" class="main-option">Equipment - WSPLTWCDFK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTWPPVK')" class="main-option">Build Equipment Reading Batch - WSPLTWPPVK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTWQDFK')" class="main-option">Work Reading Batches - WSPLTWQDFK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTW6PVK')" class="main-option">Print/Email Leasor Report - WSPLTW6PVK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTXAPVK')" class="main-option disabled">HH Reading Entry - WSPLTXAPVK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTFZDFK')" class="main-option">Equipment Segment Breakdown - WSPLTFZDFK</a>
  </li>


  <div class="separator"></div>
  <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

  <li>
    <a (click)="gotoEquipment('WSPLTWIEFK')">AWH Edit Region - WSPLTWIEFK</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSCF1220')">Change Centre - WSCF1220</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSUT5502')">Select Centre - WSUT5502</a>
  </li>

  <li>
    <a (click)="gotoEquipment('WSPLTWMDFK')">Equipment Readings-WSPLTWMDFK</a>
  </li>

</ol>