.main-option{
    color: green;
}
.main-title{
    font-size: 20px;
    color:dodgerblue;
}
.separator{
    width: 307px;
    height: 2px;
    margin: 6px 0 6px 0;
    background-color: #ccc;
}
.disabled {
    pointer-events: none;
    color: grey;
}