<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Edt Equipment Types">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Edt Equipment Types</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<input [(ngModel)]="equipmentType.exitProgramOption" name="exitProgramOption" id="exitProgramOption" type="hidden"/>
										<input [(ngModel)]="equipmentType.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" type="hidden"/>
										<!-- GRID NAVIGATION KEYS -->
										<div>
										  <button (click)="process('Delete')" id="delete" type="button" class="btn btn-default">
										    Delete
										  </button>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
										
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
