<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Add:M Batch Reading HH">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Add:M Reading HH</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    BatchNo.
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    {{ equipmentReadings.equipReadingBatchNo }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingDate
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ equipmentReadings.readingRequiredDate }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.differenceFromPrevious" name="differenceFromPrevious" id="differenceFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.idleDaysFromPrevious" name="idleDaysFromPrevious" id="idleDaysFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.unavailableDaysFromPrv" name="unavailableDaysFromPrv" id="unavailableDaysFromPrv" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentBarcode" class="col-md-3 control-label">
											    EquipmentBarcode
											  </label>
											  <div class="col-md-17 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="17" size="17em" pInputText [(ngModel)]="equipmentReadings.equipmentBarcode" name="equipmentBarcode" id="equipmentBarcode" placeholder="Equipment Barcode" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.displayFlag1Usr" name="displayFlag1Usr" id="displayFlag1Usr" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.equipmentReadingSgt" name="equipmentReadingSgt" id="equipmentReadingSgt" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.awhRegionCode" name="awhRegionCode" id="awhRegionCode" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.plantEquipmentCode" name="plantEquipmentCode" id="plantEquipmentCode" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentTypeDescDrv
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ equipmentReadings.equipmentTypeDescDrv }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.centreCodeKey" name="centreCodeKey" id="centreCodeKey" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="hhEntity1" class="col-md-3 control-label">
											    HHEntity1
											  </label>
											  <div class="col-md-63 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="63" size="11em" pInputText [(ngModel)]="equipmentReadings.hhEntity1" name="hhEntity1" id="hhEntity1" placeholder="HH Entity 1" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.readingTimestamp" name="readingTimestamp" id="readingTimestamp" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.readingType" name="readingType" id="readingType" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="readingValue" class="col-md-3 control-label">
											    Reading
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="7" size="width:7em" pInputText [(ngModel)]="equipmentReadings.readingValue" name="readingValue" id="readingValue" placeholder="Reading" (focus)="setFocusField('')" type="number" class="form-control" appCapitalize/>
											      <div *ngIf="equipmentReadings['_SysMessages'] && equipmentReadings['_SysMessages'].readingValue" style="margin:10px;color:red;">
											        &nbsp;&nbsp;&nbsp;&nbsp;{{equipmentReadings["_SysMessages"].readingValue}}
											      </div>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Prev
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ equipmentReadings.previousReadingValue }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.readingComment" name="readingComment" id="readingComment" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.userId" name="userId" id="userId" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.transferToFromSgt" name="transferToFromSgt" id="transferToFromSgt" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.transferToCentre" name="transferToCentre" id="transferToCentre" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.transferToBuisSeg" name="transferToBuisSeg" id="transferToBuisSeg" type="hidden"/>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
