<div>
  <p-dialog [closeOnEscape]="false" [(visible)]="showModal" width="800" [responsive]="true" [closable]="false" modal="modal">
    <p-header>
      <div class="col-xs-14">
        Select Organisation Conta
      </div>
    </p-header>
    <app-selrcd #selrcd>
    </app-selrcd>
  </p-dialog>
</div>
