<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Pmt for Equipment Bkdwn">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Equipment Segment Breakdown</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<div *ngIf="!add" class="form-group">
										  <label for="awhRegionCode" class="col-md-3 control-label">
										    RegionCode
										  </label>
										  <div class="col-md-5 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="1" size="11em" pInputText [(ngModel)]="equipmentType.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region Code" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="centreCodeKey" class="col-md-3 control-label">
										    Centre
										  </label>
										  <div class="col-md-4 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="2" size="6em" pInputText [(ngModel)]="equipmentType.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    CentreNameDrv
										  </label>
										  <div class="col-md-20 col-md-offset-8">
										    {{ equipmentType.centreNameDrv }}
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="dateFromIso" class="col-md-3 control-label">
										    DateRange
										  </label>
										  <div class="col-md-9 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <div>
										        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentType.dateFromIso" [showIcon]="true" name="dateFromIso" (focus)="setFocusField('dateFromIso')">
										        </p-calendar>
										      </div>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="dateToIso" class="col-md-3 control-label">
										    To
										  </label>
										  <div class="col-md-9 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <div>
										        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentType.dateToIso" [showIcon]="true" name="dateToIso" (focus)="setFocusField('dateToIso')">
										        </p-calendar>
										      </div>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="printEmailOrDisplay" class="col-md-3 control-label">
										    PrintEmailorDisplay
										  </label>
										  <div class="col-md-8 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <select [(ngModel)]="equipmentType.printEmailOrDisplay" name="printEmailOrDisplay" id="printEmailOrDisplay" title="PrintEmailorDisplay" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of printEmailOrDisplay">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="emailAddress60" class="col-md-3 control-label">
										    PrinterEmail
										  </label>
										  <div class="col-md-60 col-md-offset-8">
										    <div class="ui-inputgroup">
										      <input [maxLength]="60" size="13em" pInputText [(ngModel)]="equipmentType.emailAddress60" name="emailAddress60" id="emailAddress60" placeholder="Printer/Email" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
										    </div>
										  </div>
										</div>
										<input [(ngModel)]="equipmentType.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" type="hidden"/>
										<!-- GRID NAVIGATION KEYS -->
										<div>
										  <button (click)="process('Select#1')" type="button" class="btn btn-default">
										    Select request
										  </button>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
