<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Prt Leasor Readings Pmt">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Prt Leasor Readings Pmt</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div *ngIf="!add" class="form-group">
											  <label for="awhRegionCode" class="col-md-3 control-label">
											    Region
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="1" size="6em" pInputText [(ngModel)]="equipmentReadings.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region" (focus)="setFocusField('awhRegionCode')" type="text" class="form-control" appCapitalize/>
											      <app-function-key-panel [keys]="searchParams">
											      </app-function-key-panel>
											    </div>
											  </div>
											</div>
											<div><app-selectAwhRegion *ngIf="isModalPopUp && screenName=='selectAwhRegion'"></app-selectAwhRegion></div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ equipmentReadings.awhRegionNameDrv }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.plantEquipmentCode" name="plantEquipmentCode" id="plantEquipmentCode" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="equipmentLeasor" class="col-md-3 control-label">
											    Leasor
											  </label>
											  <div class="col-md-8 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="5" size="6em" pInputText [(ngModel)]="equipmentReadings.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" placeholder="Leasor" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Organization
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ equipmentReadings.organisationNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="readingRequiredDate" class="col-md-3 control-label">
											    Daterange
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentReadings.readingRequiredDate" [showIcon]="true" name="readingRequiredDate" (focus)="setFocusField('readingRequiredDate')">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.differenceFromPrevious" name="differenceFromPrevious" id="differenceFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.idleDaysFromPrevious" name="idleDaysFromPrevious" id="idleDaysFromPrevious" type="hidden"/>
											<input [(ngModel)]="equipmentReadings.unavailableDaysFromPrv" name="unavailableDaysFromPrv" id="unavailableDaysFromPrv" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="dateToIso" class="col-md-3 control-label">
											    To
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <div>
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentReadings.dateToIso" [showIcon]="true" name="dateToIso" (focus)="setFocusField('dateToIso')">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="centreCodeKey" class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="2" size="6em" pInputText [(ngModel)]="equipmentReadings.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ equipmentReadings.centreNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="sendViaEmail" class="col-md-3 control-label">
											    SendviaEmail
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="equipmentReadings.sendViaEmail" name="sendViaEmail" id="sendViaEmail" title="SendviaEmail" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of sendViaEmail">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <div>
											    <label class="col-md-3">
											      Printing Defaults
											    </label>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="outputQueue" class="col-md-3 control-label">
											    OutputQueue
											  </label>
											  <div class="col-md-14 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="10" size="12em" pInputText [(ngModel)]="equipmentReadings.outputQueue" name="outputQueue" id="outputQueue" placeholder="Output Queue" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="outputQueueLibrary" class="col-md-3 control-label">
											    OutputQueueLibrary
											  </label>
											  <div class="col-md-14 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="10" size="20em" pInputText [(ngModel)]="equipmentReadings.outputQueueLibrary" name="outputQueueLibrary" id="outputQueueLibrary" placeholder="Output Queue Library" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="copies" class="col-md-3 control-label">
											    Copies
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <input [maxLength]="2" size="6em" pInputText [(ngModel)]="equipmentReadings.copies" name="copies" id="copies" placeholder="Copies" (focus)="setFocusField('')" type="text" class="form-control" appCapitalize/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="forms" class="col-md-3 control-label">
											    Forms
											  </label>
											  <div class="col-md-17 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="equipmentReadings.forms" name="forms" id="forms" title="Forms" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of forms">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="holdClFormatyesno" class="col-md-3 control-label">
											    Hold
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="equipmentReadings.holdClFormatyesno" name="holdClFormatyesno" id="holdClFormatyesno" title="Hold" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of holdClFormatyesno">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="saveClFormatyesno" class="col-md-3 control-label">
											    Save(CLFormatYESNO)
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="ui-inputgroup">
											      <select [(ngModel)]="equipmentReadings.saveClFormatyesno" name="saveClFormatyesno" id="saveClFormatyesno" title="Save(CLFormatYESNO)" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of saveClFormatyesno">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
