<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous=" " [signoutDisable]="false" [endJobHide]="false" menuName="Wrk Equipment Readings">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Dsp Equipment Readings</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    Region
										  </label>
										  <div class="col-md-1 col-md-offset-8">
										    {{ equipmentReadings.awhRegionCode }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    AWHRegion
										  </label>
										  <div class="col-md-30 col-md-offset-8">
										    {{ equipmentReadings.awhRegionNameDrv }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    EquipmentCode
										  </label>
										  <div class="col-md-10 col-md-offset-8">
										    {{ equipmentReadings.plantEquipmentCode }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    Description
										  </label>
										  <div class="col-md-50 col-md-offset-8">
										    {{ equipmentReadings.equipmentDescription }}
										  </div>
										</div>
										<input [(ngModel)]="equipmentReadings.equipReadingUnit" name="equipReadingUnit" id="equipReadingUnit" type="hidden"/>
										<!-- GRID NAVIGATION KEYS -->
										<div>
										  <button (click)="process('5#1')" type="button" class="btn btn-default">
										    5=Display
										  </button>
										  <button (click)="process('Change')" type="button" class="btn btn-default">
										    2=Edit
										  </button>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
