<div [ngClass]="divClass" class="margin" *ngIf="enterButton">
    <button [ngClass]="enterButtonClass" [id]="enterButtonID" (click)=' enterButtonFunction!=null ? enterClicked($event) : ""'>{{enterButtonTitle}}</button>
</div>