.overlay {
  background: rgba(233, 233, 233, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

#loader {
  border: 5px solid rgba(255,255,255,0);
  border-radius: 70%;
  border-top: 5px solid #3f70d4;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
}
  
/*SAFARI*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}