<!-- row1 -->
<div class="col-md-80">
  <!-- Function Key Col 1-->
  <div class="col-xs-20" *ngIf="B1 || B5 || B9">

    <a class="c-task__Link {{B1class}}" uiSref="B1link!=null ? B1link : null" [routerLinkActive]=" B1link!=null ? 'active' : '' " (click)=' B1function!=null ? onClick($event, "B1") : null '
      *ngIf="B1">{{B1title}}</a>

    <a class="c-task__Link {{B5class}}" uiSref="B5link!=null ? B5link : null" [routerLinkActive]=" B5link!=null ? 'active' : '' " (click)=' B5function!=null ? onClick($event, "B5") : null '
      *ngIf="B5">{{B5title}}</a>

    <a class="c-task__Link {{B9class}}" uiSref="B9link!=null ? B9link : null" [routerLinkActive]=" B9link!=null ? 'active' : '' " (click)=' B9function!=null ? onClick($event, "B9") : null '
      *ngIf="B9">{{B9title}}</a>

  </div>
  <!-- Function Key Col 2-->
  <div class="col-xs-20" *ngIf="B2 || B6 || B10">

    <a class="c-task__Link {{B2class}}" uiSref="B2link!=null ? B2link : null" [routerLinkActive]=" B2link!=null ? 'active' : '' " (click)=' B2function!=null ? onClick($event, "B2") : null '
      *ngIf="B2">{{B2title}}</a>

    <a class="c-task__Link {{B6class}}" uiSref="B6link!=null ? B6link : null" [routerLinkActive]=" B6link!=null ? 'active' : '' " (click)=' B6function!=null ? onClick($event, "B6") : null '
      *ngIf="B6">{{B6title}}</a>

    <a class="c-task__Link {{B10class}}" uiSref="B10link!=null ? B10link : null" [routerLinkActive]=" B10link!=null ? 'active' : '' " (click)=' B10function!=null ? onClick($event, "B10") : null '
      *ngIf="B10">{{B10title}}</a>

  </div>

  <!-- Function Key Col 3-->
  <div class="col-xs-20" *ngIf="B3 || B7 || B11">

    <a class="c-task__Link {{B3class}}" uiSref="B3link!=null ? B3link : null" [routerLinkActive]=" B3link!=null ? 'active' : '' " (click)=' B3function!=null ? onClick($event, "B3") : null '
      *ngIf="B3">{{B3title}}</a>

    <a class="c-task__Link {{B7class}}" uiSref="B7link!=null ? B7link : null" [routerLinkActive]=" B7link!=null ? 'active' : '' " (click)=' B7function!=null ? onClick($event, "B7") : null '
      *ngIf="B7">{{B7title}}</a>


    <a class="c-task__Link {{B11class}}" uiSref="B11link!=null ? B11link : null" [routerLinkActive]=" B11link!=null ? 'active' : '' " (click)=' B11function!=null ? onClick($event, "B11") : null '
      *ngIf="B11">{{B11title}}</a>

  </div>

  <!-- Function Key Col 4-->
  <div class="col-xs-20" *ngIf="B4 || B8 || B12">

    <a class="c-task__Link {{B4class}}" uiSref="B4link!=null ? B4link : null" [routerLinkActive]=" B4link!=null ? 'active' : '' " (click)=' B4function!=null ? onClick($event, "B4") : null '
      *ngIf="B4">{{B4title}}</a>

    <a class="c-task__Link {{B8class}}" uiSref="B8link!=null ? B8link : null" [routerLinkActive]=" B8link!=null ? 'active' : '' " (click)=' B8function!=null ? onClick($event, "B8") : null '
      *ngIf="B8">{{B8title}}</a>

    <a class="c-task__Link {{B12class}}" uiSref="B12link!=null ? B12link : null" [routerLinkActive]=" B12link!=null ? 'active' : '' " (click)=' B12function!=null ? onClick($event, "B12") : null '
      *ngIf="B12">{{B12title}}</a>

  </div>
</div>


<!-- row2 -->
<div class="col-md-80">
  <!-- Function Key Col 1-->
  <div class="col-xs-20" *ngIf="B13 || B17 || B21">

    <a class="c-task__Link {{B13class}}" uiSref="B13link!=null ? B13link : null" [routerLinkActive]=" B13link!=null ? 'active' : '' " (click)=' B13function!=null ? onClick($event, "B13") : null '
      *ngIf="B13">{{B13title}}</a>

    <a class="c-task__Link {{B17class}}" uiSref="B17link!=null ? B17link : null" [routerLinkActive]=" B17link!=null ? 'active' : '' " (click)=' B17function!=null ? onClick($event, "B17") : null '
      *ngIf="B17">{{B17title}}</a>

    <a class="c-task__Link {{B21class}}" uiSref="B21link!=null ? B21link : null" [routerLinkActive]=" B21link!=null ? 'active' : '' " (click)=' B21function!=null ? onClick($event, "B21") : null '
      *ngIf="B21">{{B21title}}</a>

  </div>
  <!-- Function Key Col 2-->
  <div class="col-xs-20" *ngIf="B14 || B18 || B22">

    <a class="c-task__Link {{B14class}}" uiSref="B14link!=null ? B14link : null" [routerLinkActive]=" B14link!=null ? 'active' : '' " (click)=' B14function!=null ? onClick($event, "B14") : null '
      *ngIf="B14">{{B14title}}</a>

    <a class="c-task__Link {{B18class}}" uiSref="B18link!=null ? B18link : null" [routerLinkActive]=" B18link!=null ? 'active' : '' " (click)=' B18function!=null ? onClick($event, "B18") : null '
      *ngIf="B18">{{B18title}}</a>

    <a class="c-task__Link {{B22class}}" uiSref="B22link!=null ? B22link : null" [routerLinkActive]=" B22link!=null ? 'active' : '' " (click)=' B22function!=null ? onClick($event, "B22") : null '
      *ngIf="B22">{{B22title}}</a>

  </div>

  <!-- Function Key Col 3-->
  <div class="col-xs-20" *ngIf="B15 || B19 || B23">

    <a class="c-task__Link {{B15class}}" uiSref="B15link!=null ? B15link : null" [routerLinkActive]=" B15link!=null ? 'active' : '' " (click)=' B15function!=null ? onClick($event, "B15") : null '
      *ngIf="B15">{{B15title}}</a>

    <a class="c-task__Link {{B19class}}" uiSref="B19link!=null ? B19link : null" [routerLinkActive]=" B19link!=null ? 'active' : '' " (click)=' B19function!=null ? onClick($event, "B19") : null '
      *ngIf="B19">{{B19title}}</a>


    <a class="c-task__Link {{B23class}}" uiSref="B23link!=null ? B23link : null" [routerLinkActive]=" B23link!=null ? 'active' : '' " (click)=' B23function!=null ? onClick($event, "B23") : null '
      *ngIf="B23">{{B23title}}</a>

  </div>

  <!-- Function Key Col 4-->
  <div class="col-xs-20" *ngIf="B16 || B20 || B24">

    <a class="c-task__Link {{B16class}}" uiSref="B16link!=null ? B16link : null" [routerLinkActive]=" B16link!=null ? 'active' : '' " (click)=' B16function!=null ? onClick($event, "B16") : null '
      *ngIf="B16">{{B16title}}</a>

    <a class="c-task__Link {{B20class}}" uiSref="B20link!=null ? B20link : null" [routerLinkActive]=" B20link!=null ? 'active' : '' " (click)=' B20function!=null ? onClick($event, "B20") : null '
      *ngIf="B20">{{B20title}}</a>

    <a class="c-task__Link {{B24class}}" uiSref="B24link!=null ? B24link : null" [routerLinkActive]=" B24link!=null ? 'active' : '' " (click)=' B24function!=null ? onClick($event, "B24") : null '
      *ngIf="B24">{{B24title}}</a>

  </div>
</div>