<div *ngFor="let functionKey of keys">
   <button  pButton type="button" *ngIf="functionKey.display && functionKey.signal!=='funKey04'" disabled={{functionKey.isDisabled}} class="col-md-16 margin" [ngClass]="'c-task__Link ' + functionKey.id " appFunKey='{{functionKey.id}}' [ngStyle]="functionKey.btnStyle" appSignal='{{functionKey.signal}}' isConfirm="{{functionKey.isConfirm}}"
        cmdKey="{{functionKey.cmdKey}}" field="{{functionKey.field}}">{{functionKey.btnTitle}}</button>
    <button pButton type="button" style="height:34px;" *ngIf="functionKey.signal==='funKey04'" disabled={{functionKey.isDisabled}} title="Filter" appFunKey='{{functionKey.id}}' [ngStyle]="functionKey.btnStyle" appSignal='{{functionKey.signal}}' cmdKey="{{functionKey.cmdKey}}" field="{{functionKey.field}}" index="{{functionKey.index}}"><i class="fa
            fa-search"></i></button>
</div>
