.c-form{
    border-style:dashed;
    border-color:black;
    padding-left:20px;
    padding-right: 10px;
    width: 500px;
    word-wrap: break-word;
    margin-left: 24%
}
.buttons{
    margin-left:100px;
}
label{
    font-size:17px;
}