/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../src/assets/fresche/css/customtheme/theme.css");
@import url("../node_modules/quill/dist/quill.core.css");
@import url("../node_modules/quill/dist/quill.snow.css");
html {
    overflow-y: scroll;
}

.input-text {
    background: rgba(128, 128, 128, 0);
    border: 0;
    border-bottom: 2px solid black;
}

.input-text:focus {
    outline: 0 none;
    box-shadow: 0px 0px 0px;
    border: 0;
    border-bottom: 2px solid #1ba085;
}

.input-text-readonly {
    background: rgba(128, 128, 128, 0);
    border: 0;
    box-shadow: 0px 0px 0px;
    border-bottom: 2px solid #F1C56B;
}

.input-text-readonly:focus {
    background: rgba(128, 128, 128, 0);
    border: 0;
    box-shadow: 0px 0px 0px;
    border-bottom: 2px solid #F1C56B;
}

.input-text:disabled {
    outline: 0 none;
    box-shadow: 0px 0px 0px;
    border: 0;
    border-bottom: 2px solid #758682;
}