<!--p-table-->
<p-table #table [value]="records" [paginator]="options.paginator" [rowsPerPageOptions]="options.rowPerPageOptions" [rows]="options.rows"
  [resizableColumns]="options.resizableColumns" [selectionMode]="options.selectionMode" [(selection)]="options.selection" (onRowSelect)="onRowChange($event, 'select')"
  (onRowUnselect)="onRowChange($event, 'unselect')" [loading]="options.loading" sortMode="none">
  <ng-template pTemplate="caption" *ngIf="options.caption">
    <label>{{options.caption}}</label>
  </ng-template>
  <ng-template pTemplate="header">
    <tr *ngFor="let row of headers">
      <ng-container *ngFor="let header of row">
        <th [attr.rowspan]="header.rowspan" [attr.colspan]="header.colspan" *ngIf="header.sortable" pResizableColumn [style.width]="header.width">
          {{header.header}}
        </th>
        <th [attr.rowspan]="header.rowspan" [attr.colspan]="header.colspan" *ngIf="!header.sortable" pResizableColumn [style.width]="header.width">
          {{header.header}}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  
  <ng-template pTemplate="body" let-records let-columns="headers" let-rowIndex="rowIndex">
    <tr *ngFor="let row of headers" [pSelectableRow]="options.selectionMode ? records : false" [id]="'R' + rowIndex">
      <ng-container *ngFor="let header of row; let x = index">
        
        <ng-container *ngIf="!header.editable">
          <td *ngIf="header.field!=undefined" [id]="'R'+ rowIndex + 'C' + x">
            {{records[header.field]}}
          </td>
        </ng-container>

        <ng-container *ngIf="header.editable">
          <td pEditableColumn [id]="'R'+ rowIndex + 'C' + x" [ngClass]="invalidIndexes.indexOf(table.first + rowIndex) !== -1 ? 'red' : null">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input [type]="header.type" class="inputStyle" [(ngModel)]="records[header.field]" (ngModelChange)="indexEditedFields(rowIndex)"
                  required>
              </ng-template>
              <ng-template pTemplate="output">
                {{records[header.field]}}
              </ng-template>
            </p-cellEditor>
          </td>
        </ng-container>

      </ng-container>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" *ngIf="options.summary">
    <label>{{options.summary}}</label>
  </ng-template>
</p-table>
<!-- ------ -->