.inputStyle{
    color:black;
    font-weight: bold;
    background-color: inherit;
    border : 0;
}
.inputStyle:focus{
    outline:0;
}
.red{
    border-bottom-width: 2px !important;
    border-bottom-color: red !important;
}
